<div class="frame-sign">
    <div id="btnFrame" class="btn-frame display-none">
        <button id="btnToLogInHvr" class="display-none" onmouseleave="toggleElements('btnToLogIn','btnToLogInHvr')"
            onclick="toggleFormsSign()" w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
        </button>
        <button id="btnToLogIn" class="display-none" onmouseover="toggleElements('btnToLogIn','btnToLogInHvr')"
            w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
        </button>
    </div>


    <!-- form log in -->

    <form id="formLogIn" class="form-sign" onsubmit="checkInput(); return false;">
        <div class="form-logo">
            <h1>Log in</h1>
            <p>&nbsp</p>
        </div>
        <div class="housing-log-in">
            <div class="log-in">
                <label for="eMail">E-Mail</label>
                <div class="input-container">
                    <input class="version-2-t6" type="email" id="eMail" name="eMail" placeholder="Email"
                        autocomplete="off" required>
                    <div class="input-icon" onclick="focusInputBy('eMail')"
                        w3-include-svg="./assets/img/svgHTML/14-eMail.html">
                    </div>
                </div>
                <div class="housing-password">
                    <label for="password">Password</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="password" id="password" name="password" placeholder="Password"
                            autocomplete="off" required>
                        <div class="input-icon" onclick="focusInputBy('password')"
                            w3-include-svg="./assets/img/svgHTML/15-lock.html">
                        </div>
                        <div class="visibility-container display-none">
                            <button type="button" class="input-icon" onclick="visibilityPassword()"
                                w3-include-svg="./assets/img/svgHTML/14-eMail.html">
                            </button>
                            <button type="button" class="input-icon" onclick="visibilityPassword()"
                                w3-include-svg="./assets/img/svgHTML/14-eMail.html">
                            </button>
                        </div>
                        <div class="input-icon" onclick="focusInputBy('password')"
                            w3-include-svg="./assets/img/svgHTML/15-lock.html">
                        </div>
                    </div>
                    <span id="warningText" class="version-2-label display-none">Check your email and password.
                        Please try
                        again.</span>
                </div>
            </div>
        </div>
        <div class="frame-panel">
            <input id="submitBtnLogIn" class="btn-wo-icn" type="submit" onclick="checkLogInInput()" value="Log in">
            <input id="guestLogInBtn" class="btn-wo-icn-2nd" type="button" onclick="switchToWorkPages()"
                value="Guest-Log-in">
        </div>
    </form>


    <!-- form sign up -->

    <form id="formSignUp" class="form-sign display-none" onsubmit="checkInput(); return false;">
        <div class="form-logo">
            <h1>Sign up</h1>
            <p>&nbsp</p>
        </div>
        <div class="frame-panel">
            <input id="submitBtnSignUp" class="btn-wo-icn" type="submit" onclick="" value="Log in">
            <input id="guestLogInBtnSignUp" class="btn-wo-icn-2nd" type="button" onclick="toggleFormsSign()"
                value="Guest Log in">
        </div>
    </form>
</div>