<div class="frame-sign">
    <form id="formSign" class="form-sign form-sign-log-in" onsubmit="checkInput(); return false;">
        <div id="btnBack" class="form-btn-frame sign-up display-none">
            <button id="btnHvrBackToLogIn" class="display-none" onclick="toggleSignFormsBack()"
                onmouseleave="toggleElements('btnBackToLogIn','btnHvrBackToLogIn')"
                w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
            </button>
            <button id="btnBackToLogIn" onmouseover="toggleElements('btnBackToLogIn','btnHvrBackToLogIn')"
                w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
            </button>
        </div>
        <div class="form-title log-in">
            <h1>Log in</h1>
            <p>&nbsp</p>
        </div>
        <div class="form-title sign-up display-none">
            <h1>Sign up</h1>
            <p>&nbsp</p>
        </div>
        <div class="form-frame-inputs">
            <div id="formInputs" class="form-inputs form-inputs-log-in">
                <div class="housing-input sign-up display-none">
                    <label for="name">Name</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="text" id="name" name="name" placeholder="Name"
                            autocomplete="off" required>
                        <div class="input-icon-container" onclick="focusInputBy('name')">
                            <div w3-include-svg="./assets/img/svgHTML/20-person.html"></div>
                        </div>
                    </div>
                    <span class="version-warning opacity-0">required</span>
                </div>
                <div class="housing-input">
                    <label for="eMail">E-Mail</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="email" id="eMail" name="eMail" placeholder="Email"
                            autocomplete="off" required>
                        <div class="input-icon-container" onclick="focusInputBy('eMail')">
                            <div w3-include-svg="./assets/img/svgHTML/14-eMail.html"></div>
                        </div>
                    </div>
                    <span class="version-warning display-none">required</span>
                </div>
                <div class="housing-input">
                    <label for="password">Password</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="password" id="password" name="password" placeholder="Password"
                            autocomplete="off" required onfocus="handleOverlay()" onkeydown="checkOverlay()">
                        <div id="lockLogIn" class="input-icon-container"
                            onclick="focusInputBy('password'); handleInputIcon('lockIcnLogIn')">
                            <div id="lockIcnLogIn" w3-include-svg="./assets/img/svgHTML/15-lock.html">
                            </div>
                            <div class="visibility-container display-none">
                                <button id="pwVsbOff" type="button"
                                    w3-include-svg="./assets/img/svgHTML/17-visibilityOff.html">
                                </button>
                                <button id="pwVsbOn" type="button"
                                    w3-include-svg="./assets/img/svgHTML/16-visibility.html" class="display-none">
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="version-warning display-none">required</span>
                </div>
                <div class="housing-input sign-up display-none">
                    <label for="passwordConfirm">PasswordConfirm</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="password" id="passwordConfirm" name="passwordConfirm"
                            placeholder="Confirm Password" autocomplete="off" required onfocus="handleOverlay()"
                            onkeydown="checkOverlay()">
                        <div id="lockSignUp" class="input-icon-container"
                            onclick="focusInputBy('passwordConfirm'); handleInputIcon('lockIcnSignUp')">
                            <div id="lockIcnSignUp" w3-include-svg="./assets/img/svgHTML/15-lock.html">
                            </div>
                            <div class="visibility-container display-none">
                                <button id="pwConfirmVsbOff" type="button"
                                    w3-include-svg="./assets/img/svgHTML/17-visibilityOff.html">
                                </button>
                                <button id="pwConfirmVsbOn" type="button"
                                    w3-include-svg="./assets/img/svgHTML/16-visibility.html" class="display-none">
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="version-warning display-none">required</span>
                </div>
            </div>
            <span class="version-warning opacity-0">Check your email and password. Please try again.</span>
        </div>
        <div class="frame-panel log-in">
            <input class="btn-wo-icn" type="submit" onclick="initWarningTextLogIn()" value="Log in">
            <input class="btn-wo-icn-2nd" type="button" onclick="switchToWorkPages()" value="Guest Log in">
        </div>
        <div class="frame-panel sign-up display-none">
            <div class="ghost"></div>
            <input class="btn-wo-icn" type="submit" onclick="doSth()" value="Sign up" disabled>
            <div class="ghost"></div>
        </div>
    </form>
</div>