<div class="frame-sign">
    <div id="btnFrameLogIn" class="btn-frame display-none">
        <button id="btnHvrLogIn" class="display-none" onclick="toggleFormsSign()"
            onmouseleave="toggleElements('btnLogIn','btnHvrLogIn')"
            w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
        </button>
        <button id="btnLogIn" class="display-none" onmouseover="toggleElements('btnLogIn','btnHvrLogIn')"
            w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
        </button>
    </div>


    <!-- form log in -->

    <form id="formLogIn" class="form-sign" onsubmit="checkInput(); return false;">
        <div class="form-logo">
            <h1>Log in</h1>
            <p>&nbsp</p>
        </div>
        <div class="housing-log-in">
            <div class="log-in">
                <label for="eMail">E-Mail</label>
                <div class="input-container">
                    <input class="version-2-t6" type="email" id="eMailLogIn" name="eMail" placeholder="Email"
                        autocomplete="off" required>
                    <div class="input-icon" onclick="focusInputBy('eMailLogIn')"
                        w3-include-svg="./assets/img/svgHTML/14-eMail.html">
                    </div>
                </div>
                <div class="housing-password">
                    <label for="password">Password</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="password" id="passwordLogIn" name="password"
                            placeholder="Password" autocomplete="off" required onfocus="handleOverlay()"
                            onkeydown="checkOverlay()">
                        <div class="input-icon" onclick="focusInputBy('passwordLogIn'); handleInputIcon()">
                            <div id="lockIcnLogIn" w3-include-svg="./assets/img/svgHTML/15-lock.html">
                            </div>
                            <div class="visibility-container display-none">
                                <button id="vsbOffBtnLogIn" type="button"
                                    w3-include-svg="./assets/img/svgHTML/17-visibilityOffV4.html">
                                </button>
                                <button id="vsbOnBtnLogIn" type="button"
                                    w3-include-svg="./assets/img/svgHTML/16-visibilityV4.html" class="display-none">
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="version-warning display-none">Check your email and password.
                        Please try
                        again.</span>
                </div>
            </div>
        </div>
        <div class="frame-panel">
            <input class="btn-wo-icn" type="submit" onclick="checkValidLogInInput()" value="Log in">
            <input class="btn-wo-icn-2nd" type="button" onclick="switchToWorkPages()" value="Guest-Log-in">
        </div>
    </form>


    <!-- form sign up -->

    <form id="formSignUp" class="form-sign display-none" onsubmit="checkInput(); return false;">
        <div class="form-logo">
            <h1>Sign up</h1>
            <p>&nbsp</p>
        </div>
        <div class="frame-panel">
            <input id="submitBtnSignUp" class="btn-wo-icn" type="submit" onclick="doSth()" value="Sign up" disabled>
        </div>
    </form>
</div>