<div class="contacts-frame">
    <div id="contactsList" class="contacts-list contacts-list-container rel">
        <button class="btn-add-new-contact btn-wo-icn btn-wth-icn version-btn abs">
            <span class="version-btn">Add new contact</span>
            <div w3-include-svg="./assets/img/svgHTML/57-person_add.html"></div>
        </button>
        <ul id="contactsListBtns">
            <li>
                <div class="contacts-list-index-tab">
                    <div class="contacts-list-index">A</div>
                    <p class="contacts-list-vector"></p>
                </div>
                <button class="contacts-list-btn">
                    <div class="contacts-list-badge rel">
                        <div class="contacts-list-initial abs version-2-t7">AM</div>
                    </div>
                    <div class="contacts-list-info">
                        <span class="version-2-t6">Anton Mayer</span>
                        <span class="version-2-body">antonm@gmail.com</span>
                    </div>
                </button>
            </li>
            <li>
                <div class="contacts-list-index-tab">
                    <div class="contacts-list-index">A</div>
                    <p class="contacts-list-vector"></p>
                </div>
                <button class="contacts-list-btn">
                    <div class="contacts-list-badge rel">
                        <div class="contacts-list-initial abs version-2-t7">AM</div>
                    </div>
                    <div class="contacts-list-info">
                        <span class="version-2-t6">Anton Mayer</span>
                        <span class="version-2-body">antonm@gmail.com</span>
                    </div>
                </button>
            </li>

        </ul>
    </div>
    <div id="mainCenterContacts" class="main-center">
        <div class="main-center-header">
            <h1>Contacts</h1>
            <p>&nbsp;</p>
            <span>Better with a team</span>
        </div>
    </div>
</div>