<div class="contacts-frame">
    <div class="contacts-list-frame">
        <div class="contacts-list-ghost only-desk"></div>
        <div id="contactsList" class="contacts-list contacts-list-container rel">
            <button class="btn-add-new-contact btn-wo-icn btn-wth-icn version-btn abs only-desk">
                <span class="version-btn">Add new contact</span>
                <div w3-include-svg="./assets/img/svgHTML/57-person_add.html"></div>
            </button>
            <ul id="contactsListBtns"></ul>
        </div>
        <div id="btnMobileContact" class="btn-mobile-contact">
            <button id="btnBack6Hvr" class="display-none" onclick=""
                onmouseleave="toggleElements('btnBack6','btnBack6Hvr')"
                w3-include-svg="./assets/img/svgHTML/63-mobile_contact_activ.html">
            </button>
            <button id="btnBack6" type="button" onmousedown="toggleElements('btnBack6','btnBack6Hvr')"
                w3-include-svg="./assets/img/svgHTML/62-mobile_contact.html">
            </button>
        </div>
        <div id="btnMobileOption" class="btn-option-contact display-none">
            <button id="btnBack7Hvr" class="display-none" onclick=""
                onmouseleave="toggleElements('btnBack7','btnBack7Hvr')"
                w3-include-svg="./assets/img/svgHTML/65-mobile_option_activ.html">
            </button>
            <button id="btnBack7" type="button" onmousedown="toggleElements('btnBack7','btnBack7Hvr')"
                w3-include-svg="./assets/img/svgHTML/64-mobile_option.html">
            </button>
        </div>
    </div>
    <div id="mainCenterContacts" class="main-center">
        <div class="form-btn-back only-resp btn-back-contacts">
            <button id="btnBack4Hvr" class="display-none" onclick="toggleContactMobileView()"
                onmouseleave="toggleElements('btnBack4','btnBack4Hvr')"
                w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
            </button>
            <button id="btnBack4" type="button" onmouseover="toggleElements('btnBack4','btnBack4Hvr')"
                w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
            </button>
        </div>
        <div class="main-center-header">
            <h1>Contacts</h1>
            <p>&nbsp;</p>
            <span>Better with a team</span>
        </div>
        <div id="floatingContactFrame">
        </div>
    </div>
</div>