<div class="contacts-frame">
    <div class="contacts-list-frame">
        <div class="contacts-list-ghost"></div>
        <div id="contactsList" class="contacts-list contacts-list-container rel">
            <button class="btn-add-new-contact btn-wo-icn btn-wth-icn version-btn abs only-desk">
                <span class="version-btn">Add new contact</span>
                <div w3-include-svg="./assets/img/svgHTML/57-person_add.html"></div>
            </button>
            <ul id="contactsListBtns"></ul>
        </div>
    </div>
    <div id="mainCenterContacts" class="main-center">
        <div class="form-btn-back only-resp btn-back-contacts">
            <button id="btnBack4Hvr" class="display-none" onclick="toggleContactMobileView()"
                onmouseleave="toggleElements('btnBack4','btnBack4Hvr')"
                w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
            </button>
            <button id="btnBack4" type="button" onmouseover="toggleElements('btnBack4','btnBack4Hvr')"
                w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
            </button>
        </div>
        <div class="main-center-header">
            <h1>Contacts</h1>
            <p>&nbsp;</p>
            <span>Better with a team</span>
        </div>
        <div id="floatingContactFrame">
        </div>
    </div>
</div>