.main-center {
    position: relative;
    padding: 96px;
    overflow: auto;
    scrollbar-width: thin;
}

.scroll-ghost {
    opacity: 0;
    height: 100vh;
}

.btn-back-2 {
    position: absolute;
    top: 64px;
    right: 32px;
    display: none;
    width: 32px;
    height: 32px;
}

.btn-back-3 {
    position: absolute;
    top: 64px;
    right: 32px;
    width: 32px;
    height: 32px;
}

.help-list-row {
    display: flex;
    gap: 32px;
}

@media(max-width: 1440px) {
    .main-center {
        padding: 48px 16px;
    }

    .scroll-ghost {
        opacity: 0;
        height: 300vh;
    }

    .btn-back-2 {
        display: flex;
        top: 40px;
        right: 24px;
    }
}