.main-center {
    padding-left: 96px;
    padding-top: 96px;
    padding-right: 96px;
}

@media(max-width: 1440px) {
    .main-center {
        padding-left: 16px;
        padding-top: 48px;
        padding-right: 16px;
    }
}