.main-center {
    position: relative;
    padding: 96px;
    overflow: auto;
    scrollbar-width: thin;
}

.main-center-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.main-center-header h1 {
    margin-bottom: 0
}

.main-center-header p {
    width: 0;
    height: 59px;
    margin: 0px 16px;
    border: 3px solid var(--main2nd);
}

.scroll-ghost {
    opacity: 0;
    height: 0;
}

.btn-back-2 {
    position: absolute;
    top: 64px;
    right: 32px;
    display: none;
    width: 32px;
    height: 32px;
}

.btn-back-3 {
    position: absolute;
    top: 64px;
    right: 32px;
    width: 32px;
    height: 32px;
}

.help-list-row {
    display: flex;
    gap: 32px;
}

@media(max-width: 1440px) {
    .main-center {
        padding: 48px 16px;
    }

    .scroll-ghost {
        opacity: 0;
        height: 0;
    }

    .btn-back-2 {
        display: flex;
        top: 40px;
        right: 24px;
    }
}