.main-center {
    height: 100%;
    position: relative;
    /* padding: 96px; */
    padding: 96px 96px 152px 96px;
}

.main-center-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.main-center-header h1 {
    margin-bottom: 0
}

.main-center-header p {
    width: 0;
    height: 59px;
    margin: 0px 16px;
    border: 3px solid var(--main2nd);
}

.scroll-ghost {
    opacity: 0;
    height: 0;
}

.btn-back-2 {
    position: absolute;
    top: 64px;
    right: 32px;
    display: none;
    width: 32px;
    height: 32px;
}

.btn-back-3 {
    position: absolute;
    top: 64px;
    right: 32px;
    width: 32px;
    height: 32px;
}

.help-list-row {
    display: flex;
    gap: 32px;
}

@media(max-width: 1440px) {
    .main-center {
        overflow-y: scroll;
        scrollbar-width: thin;
        width: 100%;
        padding: 48px 16px 0px 16px;
    }

    .scroll-ghost {
        opacity: 0;
        height: 0;
    }

    .btn-back-2 {
        display: flex;
        top: 40px;
        right: 24px;
    }

    .main-center-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .main-center-header p {
        width: 90px;
        height: 0px;
        margin: 8px 0px;
        border: 3px solid var(--main2nd);
        order: 3;
    }
}