.form-sign {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 3px var(--black-transp-04);
    padding: 48px 0px;
}

.form-sign-log-in {
    width: clamp(0px, 100%, 652px);
}

.form-sign-sign-up {
    width: clamp(0px, 100%, 598px);
}

.form-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form-title p {
    height: 0;
    margin: 0;
    width: 150px;
    border: 3px solid var(--main2nd);
}

.form-sign-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-sign-center input {
    width: 100%;
}

.form-sign-center label {
    display: none;
}

.remember-me {
    width: 100%;
    padding-top: 8px;
    padding-left: 36px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.remember-me span {
    padding-top: 2.5px;
    color: var(--text-default2nd);
}

.form-frame-inputs {
    width: clamp(0px, 95%, 422px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.frame-panel {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.frame-panel input {
    cursor: pointer;
    height: 48px;
    padding: 0px 24px;
}


.frame-panel .btn-wo-icn:disabled {
    background-color: var(--input-border);
    box-shadow: none;
    cursor: not-allowed;
}


/* frame sign */

.frame-sign {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    width: clamp(320px, 100%, 652px);
}


.form-btn-frame {
    position: absolute;
    top: 64px;
    left: 32px;
    display: flex;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.form-btn-frame button {
    width: 32px;
    height: 32px;
}

/* #btnLogInHover {
    position: relative;
    z-index: 1;
} */

/* #btnLogIn {
    position: absolute;
} */



#lockLogIn {
    cursor: pointer;
}

#lockSignUp {
    cursor: pointer;
}

@media(max-width: 1440px) {

    /* .form-sign {
        padding: 48px 88px;
    } */

    /* .form-frame-inputs {
        width: clamp(0px, 85%, 422px);
    } */

    .form-title p {
        width: 88px;
    }

    .frame-panel {
        flex-direction: column;
    }

    .frame-panel input {
        width: 180px;
        height: 51px;
    }

    .version-btn {
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .form-btn-frame {
        top: 40px;
        left: 24px;
    }
}

@media(max-width: 414px) {
    .form-btn-frame {
        top: 10px;
        left: 10px;
    }
}