.form-inputs-frame {
    width: clamp(0px, 95%, 422px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}


.form-inputs {
    width: clamp(0px, 100%, 422px);
    display: flex;
    flex-direction: column;
}

.form-inputs-log-in {
    gap: 32px;
}

.form-inputs-sign-up {
    gap: 20px;
}

.form-inputs input {
    width: 100%;
    padding: 12px 48px 12px 21px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border);
    outline: none;
}

.form-inputs textarea {
    width: 100%;
    padding: 12px 48px 12px 21px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border);
    outline: none;
}

.form-inputs input:focus {
    border: 1px solid var(--main2nd);
}

.form-inputs textarea:focus {
    border: 1px solid var(--main2nd);
}

.housing-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container textarea {
    height: 120px;
}

.input-container-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: text;
}

.description-icon {
    top: 100%;
    transform: translateY(-100%);
    width: 26px;
    height: 26px;
}

/* frame add task (v2)*/

.form-inputs-frame-v2 {
    width: clamp(0%, 100%, 440px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    background-color: lightseagreen;
}

.form-inputs-v2 {
    width: clamp(0px, 100%, 440px);
    display: flex;
    flex-direction: column;
}

.form-inputs-v2 input {
    width: 100%;
    padding: 12px 48px 12px 21px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border);
    outline: none;
}

.form-inputs-v2 textarea {
    width: 100%;
    padding: 12px 48px 12px 21px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border);
    outline: none;
}

.form-inputs-v2 input:focus {
    border: 1px solid var(--main2nd);
}

.form-inputs-v2 textarea:focus {
    border: 1px solid var(--main2nd);
}

@media (width <=1440px) {
    .housing-input {
        gap: 4px;
    }

    .form-inputs-frame-v2 {
        align-items: center;
        gap: 16px;
    }

    .form-inputs-v2 input {
        padding: 10px 48px 10px 21px;
    }

    .description-icon {
        display: none;
    }

    .input-container textarea {
        height: 88px;
    }
}