.form-sign {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 3px var(--black-transp-04);
    padding: 48px 0px;
}

.form-sign-log-in {
    width: clamp(0px, 100%, 652px);
}

.form-sign-sign-up {
    width: clamp(0px, 100%, 598px);
}

.form-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form-title p {
    height: 0;
    margin: 0;
    width: 150px;
    border: 3px solid var(--main2nd);
}



.remember-me {
    width: 100%;
    padding-top: 8px;
    padding-left: 36px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.remember-me span {
    padding-top: 2.5px;
    color: var(--text-default2nd);
}



.form-inputs-frame {
    width: clamp(0px, 95%, 422px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}



.form-panel {
    display: flex;
    gap: 32px;
    align-items: center;
}

.form-panel .btn-wo-icn:disabled {
    background-color: var(--input-border);
    box-shadow: none;
    cursor: not-allowed;
}

.form-panel-log-in {
    justify-content: space-between;
}

.form-panel-sign-up {
    justify-content: center;
}


/* frame sign */

.frame-sign {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    width: clamp(320px, 100%, 652px);
}


.form-btn-back {
    position: absolute;
    top: 64px;
    left: 32px;
    display: flex;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.form-btn-back button {
    width: 32px;
    height: 32px;
}

#lockPw {
    cursor: pointer;
}

#lockPwConfirm {
    cursor: pointer;
}

@media(max-width: 1440px) {

    .form-title p {
        width: 88px;
    }

    .form-panel {
        gap: 21px;
    }

    .form-panel-log-in {
        flex-direction: column;
    }


    .form-panel input {
        width: 180px;
        height: 51px;
    }

    .form-btn-back {
        top: 40px;
        left: 24px;
    }
}

@media(max-width: 414px) {
    .form-btn-back {
        top: 10px;
        left: 10px;
    }
}