.form-sign {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 3px var(--black-transp-04);
    padding: 48px 0px;
}

.form-sign-log-in {
    width: clamp(0px, 100%, 652px);
}

.form-sign-sign-up {
    width: clamp(0px, 100%, 598px);
}

.form-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form-title p {
    height: 0;
    margin: 0;
    width: 150px;
    border: 3px solid var(--main2nd);
}

.form-title h1 {
    margin: 0;
}

.accept-terms-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
}

.accept-terms-container a {
    position: relative;
    z-index: 2;
    color: var(--main2nd);
}

.accept-terms-container input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    margin: 0;
    width: 24px;
    height: 24px;
}

.accept-terms-container input[type="checkbox"]:checked {
    opacity: 0;
}

.checkbox-wth-icn-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 264px;
}

.checkbox-icn-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    left: 0
}

.checkbox-icn-container button:first-child {
    transition: 0.1s all linear;
    position: relative;
}

.checkbox-icn-container button:last-child {
    transition: 0.1s all linear;
    position: absolute;
}

.form-panel {
    display: flex;
    gap: 32px;
    align-items: center;
}

.form-panel .btn-wo-icn:disabled {
    background-color: var(--input-border);
    box-shadow: none;
    cursor: not-allowed;
}

.form-panel-log-in {
    justify-content: space-between;
}

.form-panel-sign-up {
    justify-content: center;
}


/* frame sign */

.frame-sign {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    width: clamp(320px, 100%, 652px);
}


.form-btn-back {
    position: absolute;
    top: 64px;
    left: 32px;
    display: flex;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.form-btn-back button {
    width: 32px;
    height: 32px;
}

#lockPw {
    cursor: pointer;
}

#lockPwConfirm {
    cursor: pointer;
}

@media(max-width: 1440px) {

    .form-title p {
        width: 88px;
    }

    .form-panel {
        gap: 21px;
    }

    .form-panel-log-in {
        flex-direction: column;
    }


    .form-panel input {
        width: 180px;
        height: 51px;
    }

    .form-btn-back {
        top: 40px;
        left: 24px;
    }
}

@media(max-width: 414px) {
    .form-btn-back {
        top: 10px;
        left: 10px;
    }
}


/* form add task */

.form-add {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
}

.form-inputs-frame-container {
    width: 100%;
    display: flex;
    gap: 48px;
}

.form-inputs-frame-container p {
    margin: 0px;
}

.form-title-v2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.form-title-v2 h1 {
    margin: 0;
}

.footnote {
    position: absolute;
    top: calc(96px);
    left: 0;
    transform: translateY(-100%);
}

.footnote span {
    color: var(--warning-V2);
    font-size: 20px;
}

@media (width <=1440px) {

    .form-inputs-frame-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .footnote {
        width: 100%;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }
}