/* button without icon */

.btn-wo-icn {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--white);
    background: var(--main);
    border: none;
    cursor: pointer;
}

.btn-wo-icn-2nd {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--main);
    border: solid 1px var(--main);
    background-color: unset;
    cursor: pointer;
}

.btn-wo-icn:hover {
    transition: var(--smart-animation-80-in-out);
    background-color: var(--main2nd);
    box-shadow: var(--stronger);
}

.btn-wo-icn-2nd:hover {
    transition: var(--smart-animation-80-in-out-clr);
    transition: var(--smart-animation-80-in-out-shadow);
    box-shadow: var(--stronger);
    border: solid 2px var(--main2nd);
    color: var(--main2nd);
}

.btn-wo-icn:active {
    transition: var(--smart-animation-80-in-out);
    background-color: var(--main);
}

.btn-wo-icn-2nd:active {
    transition: var(--smart-animation-80-in-out);
    border: solid 2px var(--main);
    color: var(--main);
}

/* text button */

.txt-btn {
    display: flex;
    gap: 8px;
    padding: 8px;
    color: var(--icon-grey);
    text-align: center;
}

.txt-btn:hover {
    transition: var(--smart-animation-80-in-out-clr);
    color: var(--main2nd);
    font-weight: bold;
}

.txt-btn-left {
    display: flex;
    justify-content: left;
    gap: 8px;
    padding: 8px 60px;
    color: var(--icon-grey);
}

.txt-btn-left:hover {
    transition: var(--smart-animation-80-in-out-clr);
    color: var(--main2nd);
    font-weight: bold;
}

.txt-btn-left-selected {
    display: flex;
    justify-content: left;
    gap: 8px;
    padding: 8px 60px;
    color: var(--icon-grey);
    background-color: var(--nav-left-button);
    cursor: default;
}

.txt-btn-btm {
    display: flex;
    justify-content: center;
    height: 76px;
    gap: 8px;
    padding: 0px 12px 0px 12px;
    color: var(--icon-grey);
    border-radius: 8px;
}

.txt-btn-btm:hover {
    background-color: var(--menu-button-hover);
    color: var(--white);
}

.txt-btn-btm-selected {
    display: flex;
    justify-content: center;
    height: 76px;
    gap: 8px;
    padding: 0px 12px 0px 12px;
    color: var(--white);
    background-color: var(--nav-left-button);
    color: var(--white) !important;
    cursor: default;
    border-radius: 8px;
}


@media (max-width: 1440px) {

    .btn-wo-icn {
        font-size: 16px;
    }

    .btn-wo-icn-2nd {
        font-size: 16px;
    }

    .btn-wo-icn-2nd:hover {
        height: 54px;
    }
}

/* menu-button-hover */

.menu-btn-hvr {
    width: 232px;
    height: 46px;
    border-radius: 8px;
    padding: 8px 56px;
    display: flex;
    gap: 8px;
}

.menu-btn-hvr:hover {
    background-color: var(--menu-button-hover);
    color: var(--white);
}

.menu-btn-hvr-selected {
    width: 232px;
    height: 46px;
    border-radius: 0;
    padding: 8px 56px;
    display: flex;
    gap: 8px;
    background-color: var(--nav-left-button);
    cursor: default;
    color: var(--white) !important;
}


.menu-btn-hvr-selected div:first-child {
    cursor: default;
}

.menu-btn-hvr-selected div:first-child svg:first-child {
    cursor: default;
}

.menu-btn-hvr-selected div:first-child svg:first-child path {
    cursor: default;
    fill: var(--white);
}

/* menu-button-hover mobile*/

.menu-btn-hvr-mbl {
    width: 80px;
    height: 76px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.menu-btn-hvr-inside-mbl {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
}

.menu-btn-hvr-mbl:hover {
    background-color: var(--menu-button-hover);
    color: var(--white);
}

.menu-btn-hvr-mbl-selected {
    width: 80px;
    height: 76px;
    border-radius: 0;
    display: flex;
    gap: 10px;
    background-color: var(--nav-left-button);
    cursor: default;
    color: var(--white) !important;
}


.menu-btn-hvr-mbl-selected div:first-child {
    cursor: default;
}

.menu-btn-hvr-mbl-selected div:first-child svg:first-child {
    cursor: default;
}

.menu-btn-hvr-mbl-selected div:first-child svg:first-child path {
    cursor: default;
    fill: var(--white);
}


/* svg-class: */

.menu-icon {
    fill: var(--text-light);
}

.menu-icon-hvr {
    fill: var(--white);
}