/* button without icon */

.btn-wo-icn {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--white);
    background: var(--main);
    border: none;
}

.btn-wo-icn-2nd {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--main);
    border: solid 1px var(--main);
    background-color: unset;
}

.btn-wo-icn:hover {
    transition: var(--smart-animation-in-out);
    background-color: var(--main2nd);
    box-shadow: var(--stronger);
}

.btn-wo-icn-2nd:hover {
    transition: var(--smart-animation-in-out-clr);
    transition: var(--smart-animation-in-out-shadow);
    box-shadow: var(--stronger);
    border: solid 2px var(--main2nd);
    color: var(--main2nd);
}

.btn-wo-icn:active {
    transition: var(--smart-animation-in-out);
    background-color: var(--main);
}

.btn-wo-icn-2nd:active {
    transition: var(--smart-animation-in-out);
    border: solid 2px var(--main);
    color: var(--main);
}

/* text button */

.txt-btn {
    display: flex;
    gap: 8px;
    padding: 8px;
    color: var(--icon-grey);
    text-align: center;
}

.txt-btn:hover {
    transition: var(--smart-animation-in-out-clr);
    color: var(--main2nd);
    font-weight: bold;
}

@media (max-width: 1440px) {
    /* button without icon */

    .btn-wo-icn {
        font-size: 16px;
        line-height: 120%;
    }

    .btn-wo-icn-2nd {
        font-size: 16px;
        line-height: 120%;
    }

    .btn-wo-icn-2nd:hover {
        height: 54px;
    }
}