.btn-wo-icn {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    background: var(--main);
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.btn-wo-icn-2nd {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--main);
    font-size: 21px;
    font-weight: bold;
}

@media (max-width: 1440px) {
    .btn-wo-icn {
        font-size: 16px;
    }

    .btn-wo-icn-2nd {
        font-size: 16px;
    }
}