.btn-wo-icn {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--white);
    font-size: 21px;
    font-weight: bold;
    background: var(--main);
    border: none;
}


/* .btn-wo-icn:disabled {
    background-color: var(--input-border);
    box-shadow: none;
    cursor: not-allowed;
} */

.btn-wo-icn-2nd {
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    gap: 10px;
    color: var(--main);
    font-size: 21px;
    font-weight: bold;
    border: solid 1px var(--main);
    background-color: unset;
}

.btn-wo-icn:hover {
    transition: var(--smart-animation-in-out);
    background-color: var(--main2nd);
    box-shadow: var(--stronger);
}

.btn-wo-icn-2nd:hover {
    transition: var(--smart-animation-in-out-clr);
    transition: var(--smart-animation-in-out-shadow);
    box-shadow: var(--stronger);
    border: solid 2px var(--main2nd);
    color: var(--main2nd);
    padding: 0px 23px;
}

.btn-wo-icn:active {
    transition: var(--smart-animation-in-out);
    background-color: var(--main);
}

.btn-wo-icn-2nd:active {
    transition: var(--smart-animation-in-out);
    border: solid 2px var(--main);
    color: var(--main);
}

@media (max-width: 1440px) {
    .btn-wo-icn {
        font-size: 16px;
    }

    .btn-wo-icn-2nd {
        font-size: 16px;
    }
}