.form-inputs {
    width: clamp(0px, 100%, 422px);
    display: flex;
    flex-direction: column;
}

.form-inputs-log-in {
    gap: 32px;
}

.form-inputs-sign-up {
    gap: 20px;
}

.form-inputs input {
    width: 100%;
    padding: 12px 48px 12px 21px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border);
    outline: none;
}

.form-inputs input:focus {
    border: 1px solid var(--main2nd);
}

.housing-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: text;
}