.log-in {
    width: clamp(0px, 100%, 422px);
    height: 152px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.log-in label {
    width: 100%;
    display: none;
}

.log-in input {
    width: 100%;
    padding: 12px 48px 12px 21px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border);
    outline: none;
}

.log-in input:focus {
    border: 1px solid var(--main2nd);
}

.wrongLogin {
    border: 1px solid var(--warning) !important;
}

.housing-password {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.housing-password span {
    color: var(--warning-text);
}

.input-container {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: text;
}