.ovl-anim {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ovl {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ovl-hide {
    z-index: -1;
}

.ovl-show {
    z-index: 3;
    animation-duration: 2s;
    animation-name: shadow-bg;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes shadow-bg {
    from {
        background-color: var(--black-transp);
    }

    to {
        background-color: var(--black-transp-50);
    }
}

.msg-signPage {
    transform: translateX(100%);
}

.msg-cnt {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: var(--main);
    color: white;
}

.show-msg-signPage {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 3;
    animation-duration: 1s;
    animation-name: slide-msg;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes slide-msg {
    from {
        top: 100%;
    }

    to {
        top: 50%;
    }
}