.ovl-anim {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ovl {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ovl-hide {
    z-index: -1;
}

.ovl-show-nav {
    z-index: 3;
    background-color: transparent;
}

.ovl-show-anim-bg {
    z-index: 3;
    animation-duration: 2s;
    animation-name: shadow-bg;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes shadow-bg {
    from {
        background-color: var(--black-transp);
    }

    to {
        background-color: var(--black-transp-50);
    }
}

.ovl-show-input {
    z-index: 3;
    background-color: transparent;
    /* background-color: var(--black-transp-50); */
}

.msg-cnt {
    position: absolute;
    background-color: var(--main);
    color: white;
    box-shadow: var(--nuevo);
    height: 74px;
    border-radius: 20px;
    padding: 25px 25px;
}

.msg-cnt h1 {
    white-space: nowrap;
}

.msg-btm-cnt {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 3;
}

.msg-rgt-cnt {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 3;
}

.nav-top-rgt {
    transform: translateX(100%);
    position: absolute;
    top: 96px;
    right: 16px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.nav-cnt {
    background-color: var(--main);
    color: var(--text-light);
    box-shadow: var(--nuevo);
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
}

.nav-cnt button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 130px;
    height: 46px;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 12px;
    text-align: start;
    color: var(--text-light);
}

.nav-cnt button:hover {
    transition: var(--smart-animation-80-in);
    background-color: var(--menu-button-hover);
}

/* animation */

.from-bottom-to-center {
    animation-duration: 0.8s;
    animation-name: slide-msg-btm-cnt;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes slide-msg-btm-cnt {
    from {
        top: 100%;
    }

    to {
        top: 50%;
    }
}

.from-bottom-to-center-mbl {
    animation-duration: 0.8s;
    animation-name: slide-msg-btm-cnt-mbl;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes slide-msg-btm-cnt-mbl {
    from {
        top: 100%;
    }

    to {
        top: 75%;
    }
}

.from-right-to-center {
    animation-duration: 0.8s;
    animation-name: slide-nav-rgt-cnt;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes slide-nav-rgt-cnt {
    from {
        left: 100%;
    }

    to {
        left: 50%;
    }
}

.from-top-right-into-view {
    animation-duration: 0.8s;
    animation-name: slide-msg-rgt-cnt;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes slide-msg-rgt-cnt {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}


.from-left-out-off-sight {
    animation-duration: 0.8s;
    animation-name: slide-nav-lft-oos;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes slide-nav-lft-oos {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(150%);
    }
}

@media (max-width: 1440px) {
    .nav-top-rgt {
        top: 82px;
    }
}