.main-center-tablet {
    display: flex;
}

.main-center-dashboard {
    position: relative;
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    background-color: crimson;
}

.main-center-dashboard button {
    position: absolute;
}

.main-center-welcome {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
    padding-left: 96px;
}


.rectangle-btn {
    transition: var(--smart-animation-in-out);
    width: 264px;
    height: 168px;
    background-color: var(--white);
    border-radius: 30px;
}

.rectangle-btn:hover {
    width: 282.5px;
    height: 184px;
    background-color: var(--main);
    color: var(--white);
}

.abs-top-lft {
    top: 0;
    left: 0;
}

.abs-top-rgt {
    top: 0;
    right: 0;
}

.abs-cnt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs-btm-lft {
    bottom: 0;
    left: 0;
}

.abs-btm-rgt {
    bottom: 0;
    right: 0;
}

.abs-btm-cnt {
    bottom: 0;
    right: 50%;
    transform: translateY(-50%);
}