.main-center-tablet {
    display: flex;
}

.main-center-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 562px;
}

.main-center-welcome {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
    padding-left: 96px;
}

/* main-center-dashboard: */

.dashboard-row {
    display: flex;
    justify-content: space-between;
}

.dashboard-row button {
    transition: var(--smart-animation-in-out);
    background-color: var(--white);
    border-radius: 30px;
}

.dashboard-row button:hover {
    background-color: var(--main);
    color: var(--white);
}

.frame-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rectangle-anchor {
    position: relative;
    width: 264px;
    height: 168px;
}

.rectangle-btn {
    position: absolute;
    width: 264px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
}

.rectangle-btn:hover {
    width: 282.5px;
    height: 184px;
}

.btn-urgency-anchor {
    position: relative;
    width: 560px;
    height: 168px;
}

.urgency-btn {
    position: absolute;
    width: 560px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.urgency-btn:hover {
    width: 576px;
    height: 184px;
}

.btn-square-anchor {
    position: relative;
    width: 168px;
    height: 168px;
}

.square-btn {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-btn:hover {
    width: 184px;
    height: 184px;
}