.main-center-tablet {
    display: flex;
}

.main-center-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 562px;
    background-color: rgb(205, 174, 235);
}

.main-center-welcome {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
    padding-left: 96px;
}


/* main-center-dashboard: */


.dashboard-row {
    display: flex;
    justify-content: space-between;
}

.frame-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

.btn-rectangle-anchor {
    position: relative;
    width: 264px;
    height: 168px;
    background-color: lightgreen;
}

.rectangle-btn {
    position: absolute;
    width: 264px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
}

.rectangle-btn:hover {
    width: 282.5px;
    height: 184px;
}

.btn-urgency-anchor {
    position: relative;
    width: 560px;
    height: 168px;
    background-color: lightgreen;
}

.urgency-btn {
    position: absolute;
    width: 560px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
}

.urgency-btn:hover {
    width: 576px;
    height: 184px;
}

.abs-top-lft {
    top: 0;
    left: 0;
}

.abs-top-lft-testing {
    top: 50%;
    left: 50%;
}

.abs-top-rgt {
    top: 0;
    right: 0;
}

.abs-cnt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs-btm-lft {
    bottom: 0;
    left: 0;
}

.abs-btm-rgt {
    bottom: 0;
    right: 0;
}

.abs-btm-cnt {
    bottom: 0;
    right: 50%;
    transform: translateY(-50%);
}