.main-center-tablet {
    display: flex;
    margin-top: 48px;
}

.main-center-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 562px;
}

.main-center-welcome {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 96px;
}

/* main-center-dashboard: */

.dashboard-row {
    display: flex;
    justify-content: space-between;
}

.dashboard-row button {
    transition: var(--smart-animation-80-in-out);
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: var(--nuevo);
    font-size: 20px;
}

.dashboard-row button:hover {
    background-color: var(--main);
    color: var(--white);
    box-shadow: var(--stronger);
}

.dashboard-row button:active {
    transition: var(--smart-animation-100-in-out);
    background-color: var(--white);
    color: var(--black);
}

.frame-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rectangle-anchor {
    position: relative;
    width: 264px;
    height: 168px;
}

.rectangle-btn {
    position: absolute;
    width: 264px;
    height: 168px;
    display: flex;
    gap: 18px;
}

.rectangle-btn:hover {
    width: 282.5px;
    height: 184px;
}

.btn-urgency-anchor {
    position: relative;
    width: 560px;
    height: 168px;
}

.urgency-btn {
    position: absolute;
    width: 560px;
    height: 168px;
    display: flex;
    gap: 61px;
}

.urgency-btn:hover {
    width: 576px;
    height: 184px;
}

.btn-square-anchor {
    position: relative;
    width: 168px;
    height: 168px;
}

.square-btn {
    position: absolute;
    width: 168px;
    height: 168px;
    display: flex;
    flex-direction: column;
}

.square-btn span:first-child {
    font-size: 61px;
    font-weight: 600;
}

.square-btn:hover {
    width: 184px;
    height: 184px;
}

.check-btn {
    padding: 38px 58px;
}

.pencil-btn {
    padding: 38px 19px;
}

.rectangle-btn:hover .rect-btn-cnt-lft svg g path {
    fill: var(--main);
}

.rectangle-btn:hover .rect-btn-cnt-lft svg circle {
    fill: var(--white);
}

.rectangle-btn:hover .rect-btn-cnt-lft svg path {
    stroke: var(--main);
}

.rectangle-btn:active .rect-btn-cnt-lft svg g path {
    fill: var(--white);
}

.rectangle-btn:active .rect-btn-cnt-lft svg circle {
    fill: var(--main);
}

.rect-btn-cnt-rgt {
    display: flex;
    flex-direction: column;
}

.rect-btn-cnt-rgt span:first-child {
    font-size: 64px;
    font-weight: 600;
}

/* svg classes: */

.sum-btn-path {
    transition: var(--smart-animation-80-in-out);
    fill: var(--white);
}

.sum-btn-circle {
    transition: var(--smart-animation-80-in-out);
    fill: var(--main);
}

.sum-btn-path-stroke {
    transition: var(--smart-animation-80-in-out);
    stroke: var(--white);
}

/* urgency-btn */

.urgency-btn-lft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.rect-btn-vector {
    border-radius: 2px;
    height: 102.02px;
    border: solid 2px var(--input-border);
}

.urgency-btn-cnt-rgt {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.urgency-btn-cnt-rgt span:first-child {
    font-size: 61px;
    font-weight: 600;
}

.urgency-btn-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 13px;
}

.urgency-btn-info span:first-child {
    font-size: 21px;
    font-weight: 700;
}

/* .main-center-welcome: */

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting span:nth-child(1) {
    font-size: 47px;
    font-weight: 500;
    line-height: normal;
}

.greeting span:nth-child(2) {
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    color: var(--main2nd);
}

@media (max-width: 1440px) {
    .main-center-welcome {
        display: none;
    }

    .main-center-tablet {
        justify-content: center;
    }
}