/* #mainCenterAddTask {
    overflow: auto;
} */

/* #mainCenterAddTask::-webkit-scrollbar {
    display: none;
} */

.add-task-vector {
    border-radius: 2px;
    border: solid 2px var(--input-border);
}

.drop-down-icn {
    fill: none;
}

.priority-list {
    justify-content: space-between;
}

.user-contact-list {
    max-height: 0;
    /* transform: translateY(-20px); */
    /* padding-top: 8px; */
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--backlog-box);
    overflow: hidden;
    scrollbar-width: thin;
    border-bottom: 1px solid var(--white);
    z-index: 0;
    /* opacity: 0; */
}

.user-contact-list span {
    color: var(--black);
    font-size: 16px;
}

.user-contact-list input {
    position: relative;
    width: auto;
    display: flex;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    width: 24px;
    height: 24px;
}

.contactListBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
}

.contactListBtnLeft {
    display: flex;
    align-items: center;
    gap: 16px;
}


.checkbox-assigned {
    opacity: 1;
}

.checkbox-assigned:hover div svg rect {
    fill: var(--main-transp-10);
}

/* .checkbox-assigned-container {
    position: relative;
}

.checkbox-assigned-container div:first-child {
    cursor: pointer;
}

.checkbox-assigned-container div:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.drop-down-anim {
    animation-duration: 112ms;
    animation-name: drop-down;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop-down {
    from {
        max-height: 0px;
        z-index: 0;
        /* opacity: 0; */
    }

    to {
        max-height: 250px;
        z-index: 3;
        /* opacity: 1; */
        overflow: auto;
    }
}

.drop-up-anim {
    animation-duration: 112ms;
    animation-name: drop-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes drop-up {
    from {
        max-height: 250px;
        z-index: 3;
        /* opacity: 1; */
    }

    to {
        max-height: 0px;
        z-index: 0;
        /* opacity: 0; */
    }
}

.checkbox-default {
    fill: var(--white);
}

@media (width <=1440px) {
    .add-task-vector {
        display: none;
    }
}