.add-task-vector {
    border-radius: 2px;
    border: solid 2px var(--input-border);
}

.drop-down-icn {
    fill: none;
}

.input-container-icon button:hover svg rect {
    fill: var(--drop-down-icon-V2);
}


@media (width <=1440px) {
    .add-task-vector {
        display: none;
    }
}