.add-task-vector {
    border-radius: 1px;
    border: solid 1px var(--input-border);
}

.drop-down-icn {
    fill: none;
}

.priority-list {
    justify-content: space-between;
}

.user-contact-list {
    display: flex;
    max-height: 0;
    /* transform: translateY(-20px); */
    /* padding-top: 8px; */
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--backlog-box);
    overflow: hidden;
    scrollbar-width: thin;
    border-bottom: 1px solid var(--white);
    z-index: 0;
    opacity: 0;
    gap: 4px;
}

.user-contact-list span {
    color: var(--black);
    font-size: 16px;
}

.user-contact-list input {
    position: relative;
    width: auto;
    display: flex;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    width: 24px;
    height: 24px;
}

.contactListBtn {
    color: var(--black);
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
}

.contactListBtn input {
    position: relative;
    width: 100%;
    display: flex;
    cursor: pointer;
    z-index: 1;
}


.contactListBtn span {
    color: var(--black);
    font-size: 16px;
}

.contactListBtn:hover {
    background-color: var(--drop-down-icon-V2);
}

.contactListBtn:hover div svg rect {
    fill: var(--main-transp-10);
}

.contactListBtnClicked {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: var(--main);
}

.contactListBtnClicked span {
    color: var(--white);
    font-size: 16px;
}

.contactListBtnClicked:hover {
    background-color: var(--nav-left-button);
}

.contactListBtnCli:hover div svg rect {
    fill: var(--main-transp-10);
}

.contactListBtnLeft {
    display: flex;
    align-items: center;
    gap: 16px;
}

.category-list {
    max-height: 0;
    /* transform: translateY(-20px); */
    /* padding-top: 8px; */
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--backlog-box);
    overflow: hidden;
    scrollbar-width: thin;
    border-bottom: 1px solid var(--white);
    z-index: 0;
    opacity: 0;
}

.categoryBtn {
    color: var(--black);
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
}

.categoryBtn span {
    color: var(--black);
    font-size: 16px;
}

.categoryBtn:hover {
    background-color: var(--drop-down-icon-V2);
}

.checkbox-default-rect {
    fill: var(--white);
}

.checkbox-checked-rect {
    fill: var(--main);
}

.checkbox-default-path {
    stroke: var(--main);
}

.checkbox-clicked-path {
    stroke: var(--white);
}

.checkbox-assigned:hover div svg rect {
    fill: var(--main2nd-transp-20);
}

.drop-down-anim {
    animation-duration: 112ms;
    animation-name: drop-down;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.subtask-vector {
    border-radius: 1px;
    border: solid 1px var(--input-border);
    height: 24px;
    margin-left: 2px !important;
    margin-right: 3px !important;
}

.select::placeholder {
    color: var(--black);
}

.input-subtask-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.subtask-panel-v1 {
    top: 50%;
    transform: translateY(-89%);
    right: 4px;
    height: 24px;
}

.subtask-panel-v2 {
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    height: 32px;
}

.input-subtask-panel div:nth-child(3):hover svg rect {
    fill: var(--drop-down-icon-V2);
}

.check-hvr-51 {
    fill: none;
}

.close-hvr-52 {
    fill: none;
}

.delete-hvr-53 {
    fill: none;
}

.edit-hvr-54 {
    fill: none;
}

.input-subtask-panel div:nth-child(1):hover svg rect {
    fill: var(--drop-down-icon-V2);
}

.subtasks-list-container {
    position: relative;
}

.user-subtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user-subtasks-list-inputs {
    position: absolute;
    top: 0;
}

.user-subtasks-list-inputs input {
    height: 32px;
    width: clamp(0%, 440px, 440px);
    border-radius: 0;
    border: unset;
    padding: 4px 16px;
    font-size: 16px;
    border-bottom: 1px solid var(--white);
}

.user-subtasks-list-inputs input:focus {
    border: unset;
    border-bottom: 1px solid var(--main2nd);
}

.user-subtasks-list-text li {
    height: 32px;
    padding: 6px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--black);
}

.user-subtasks-list-text li span {
    color: var(--black);
}

.user-subtasks-list-text li:hover {
    background-color: var(--drop-down-icon-V2);
}

.user-subtasks-list-text li .input-subtask-panel {
    display: none;
}

.user-subtasks-list-text li:hover .input-subtask-panel {
    display: flex;
}


@keyframes drop-down {
    from {
        max-height: 0px;
        z-index: 0;
    }

    to {
        max-height: 250px;
        z-index: 3;
        overflow: auto;
        opacity: 1;
    }
}

.drop-up-anim {
    animation-duration: 112ms;
    animation-name: drop-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes drop-up {
    from {
        max-height: 250px;
        z-index: 3;
    }

    to {
        max-height: 0px;
        z-index: 0;
        opacity: 0;
    }
}

@media (width <=1440px) {
    .add-task-vector {
        display: none;
    }
}