.add-task-vector {
    border-radius: 2px;
    border: solid 2px var(--input-border);
}

.drop-down-icn {
    fill: none;
}

.priority-list {
    justify-content: space-between;
}

.user-contact-list {
    max-height: 280px;
    transform: translateY(-10px);
    padding-top: 8px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--backlog-box);
    overflow: auto;
    scrollbar-width: thin;
    border-bottom: 1px solid var(--white);
}

.user-contact-list legend {
    display: none;
}

.user-contact-list label {
    display: flex;
}

.user-contact-list input {
    position: relative;
    width: auto;
    display: flex;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    width: 24px;
    height: 24px;
}

.contactListBtn {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
}

.checkbox-assigned {
    opacity: 1;
}

.checkbox-assigned-container {
    position: relative;
}

.checkbox-assigned-container div:first-child {
    cursor: pointer;
}

.checkbox-assigned-container div:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightsalmon;
    width: 24px;
    height: 24px;
}

.drop-down-anim {
    animation-duration: 1s;
    animation-name: drop-down;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes drop-down {
    from {
        max-height: 0px;
        background-color: lightyellow;
    }

    to {
        max-height: 500px;
        background-color: lightsteelblue;
    }
}

@media (width <=1440px) {
    .add-task-vector {
        display: none;
    }

    .user-contact-list {
        height: 280px;
        transform: translateY(-6px);
    }
}