.add-task-vector {
    border-radius: 2px;
    border: solid 2px var(--input-border);
}

.drop-down-icn {
    fill: none;
}


@media (width <=1440px) {
    .add-task-vector {
        display: none;
    }
}