.logo-desktop-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 374px;
}

.path-def-1st {
    fill: var(--main);
}

.path-def-2nd {
    fill: var(--main2nd);
}

.clr-anim {
    animation-duration: 3s;
    animation-name: change-svg-clr-dsk;
}

.bg-anim {
    animation-duration: 3s;
    animation-name: change-bg-clr-dsk;
    animation-fill-mode: forwards;
}

.logo-anim {
    animation-duration: 3s;
    animation-name: change-pos-dsk;
    animation-fill-mode: forwards;
}

@keyframes change-bg-clr-mbl {
    from {
        background-color: var(--main);
    }

    to {
        background-color: var(--main-transp);
    }
}

@keyframes change-bg-clr-dsk {
    from {
        background-color: var(--main-background);
    }

    to {
        background-color: var(--black-transp);
    }
}

@keyframes change-pos-dsk {
    from {
        width: 274px;
        height: 374px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        width: 101px;
        height: 123px;
        top: 80px;
        left: 77px;
        transform: translate(0%, 0%);
    }
}

@keyframes change-pos-mbl {
    from {
        width: 101px;
        height: 123px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        width: 64px;
        height: 79px;
        top: 37px;
        left: 38px;
        transform: translate(0%, 0%);
    }
}

@keyframes change-svg-clr-dsk {
    from {
        fill: var(--main);
    }

    to {
        fill: var(--main);
    }
}

@keyframes change-svg-clr-mbl {
    from {
        fill: var(--white);
    }

    to {
        fill: var(--main);
    }
}

@media (max-width: 1440px) {
    .logo-desktop-main {
        width: 101px;
        height: 123px;
    }

    .ovl-frame {
        background-color: var(--main);
    }

    .bg-anim {
        animation-name: change-bg-clr-mbl;
    }

    .logo-anim {
        animation-name: change-pos-mbl;
    }

    .clr-anim {
        animation-name: change-svg-clr-mbl;
    }

}