.contacts-frame {
    display: flex;
}

.contacts-list {
    background-color: var(--white);
    box-shadow: var(--drop-shadow);
    overflow-y: scroll;
    scrollbar-width: thin;
    height: calc(100vh - 96px);
    background-color: var(--white);
    padding-top: 101px;
}

.btn-add-new-contact {
    width: 352px;
    top: 20px;
    left: 56px;
}

.contacts-list-container {
    display: flex;
    flex-direction: column;
}

.contacts-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts-list-container li {
    position: relative;
}

.index-tab {
    display: flex;
    flex-direction: column;
}

@media (width <=1440px) {
    .contacts-frame .main-center {
        display: none;
    }

    .contacts-list {
        height: calc(100vh - 160px);
    }
}