.contacts-frame {
    display: flex;
}

.contacts-list {
    background-color: var(--white);
    box-shadow: var(--drop-shadow);
    overflow-y: scroll;
    scrollbar-width: thin;
    height: calc(100vh - 96px);
    background-color: var(--white);
    padding: 101px 12px 32px 24px;
}

.btn-add-new-contact {
    width: 352px;
    top: 20px;
    left: 24px;
}

.contacts-list-container {
    display: flex;
    flex-direction: column;
}

.contacts-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts-list-container li {
    position: relative;
}

.index-tab {
    display: flex;
    flex-direction: column;
}

.contacts-list-vector {
    margin: 8px 0px;
    border-radius: 1px;
    border: solid 1px var(--input-border);
}

.contacts-list-btn {
    display: flex;
    justify-content: start;
    gap: 35px;
    width: 352px;
    border-radius: 10px;
    padding: 15px 24px;
    background-color: lightskyblue;
}

.contacts-list-badge {
    width: 42px;
    height: 42px;
    background-color: lightslategray;
}

.contacts-list-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (width <=1440px) {
    .contacts-frame .main-center {
        display: none;
    }

    .contacts-list {
        height: calc(100vh - 160px);
    }
}