.overlay-fst-page {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.logo-desktop-main {
    position: absolute;
    width: 101px;
    height: 123px;
    top: 80px;
    left: 77px;
}

@media (max-width: 1440px) {
    .logo-desktop-main {
        position: absolute;
        width: 64px;
        height: 79px;
        top: 37px;
        left: 38px;
    }
}