.main {
    background-color: var(--main-background);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside {
    height: 100%;
    display: flex;
}

.inside-resp {
    height: unset;
    display: flex;
}

.outside-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75.2px;
}

.outside-top span {
    height: 80px;
}

.outside-bottom {
    display: flex;
    justify-content: center;
}

.content-left {
    padding-left: 77px;
    padding-top: 0px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex: 1;
}

.content-center {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2.3;
}

.content-right {
    padding-right: 77px;
    padding-top: 0px;
    display: flex;
    align-items: start;
    justify-content: end;
    flex: 1;
}

.logo-desktop {
    display: flex;
}

.logo-mobile {
    display: none;
}

.nav-outside {
    padding: 0px 16px 0px 16px;
    display: flex;
    gap: 48px;
    text-align: center;
}

.nav-outside a {
    z-index: 1;
}

.nav-sign-bottom {
    width: 252px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.no-match-input {
    border: 1px solid var(--warning) !important;
}

.sub-nav-sign-up {
    display: flex;
    align-items: center;
    gap: 35px;
}

.sub-nav-sign-up span {
    text-align: center;
}

.hover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
}

.hover-container-v2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@media (max-width: 1440px) {
    .inside {
        /* height: auto; */
        padding-top: 56px;
        flex-direction: column;
    }

    .inside-resp {
        flex-direction: column;
    }

    .content-center {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    .content-left {
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        align-items: start;
        justify-content: left;
        flex: 0.5;
    }

    .content-right {
        padding-right: 0px;
        padding-left: 0px;
        padding: 0px 16px 32px 16px;
        align-items: end;
        justify-content: center;
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        position: fixed;
        top: 37px;
        z-index: 1;
        display: flex;
    }

    .outside-top span {
        height: 37px;
    }
}