.main-center-tablet {
    display: flex;
    margin-top: 48px;
}

.main-center-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 562px;
}

.main-center-welcome {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 84px;
}

.main-center-welcome-mobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dashboard-row {
    display: flex;
    justify-content: space-between;
}

.dashboard-row button {
    transition: var(--smart-animation-80-in-out);
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: var(--nuevo);
    font-size: 20px;
}

.dashboard-row button:hover {
    background-color: var(--main);
    color: var(--white);
    box-shadow: var(--stronger);
}

.dashboard-row button:active {
    transition: var(--smart-animation-100-in-out);
    background-color: var(--white);
    color: var(--black);
}

.frame-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-btn-anchor {
    position: relative;
    width: 264px;
    height: 168px;
}

.rectangle-btn {
    position: absolute;
    width: 264px;
    height: 168px;
    display: flex;
    gap: 18px;
}

.rectangle-btn:hover {
    width: 282.5px;
    height: 184px;
}

.pencil-btn {
    padding: 38px 19px;
}

.check-btn {
    padding: 38px 58px;
}

.urgency-btn-anchor {
    position: relative;
    width: 560px;
    height: 168px;
}

.urgency-btn {
    position: absolute;
    width: 560px;
    height: 168px;
    display: flex;
    gap: 61px;
    padding: 28px 48px;
}

.urgency-btn:hover {
    width: 576px;
    height: 184px;
}

.square-btn-anchor {
    position: relative;
    width: 168px;
    height: 168px;
}

.square-btn {
    position: absolute;
    width: 168px;
    height: 168px;
    display: flex;
    flex-direction: column;
    padding: 25px 0px 25px 0px;
}

.square-btn span:first-child {
    font-size: 61px;
    font-weight: 600;
}

.square-btn:hover {
    width: 184px;
    height: 184px;
}

.rectangle-btn:hover .rect-btn-cnt-lft svg g path {
    fill: var(--main);
}

.rectangle-btn:hover .rect-btn-cnt-lft svg circle {
    fill: var(--white);
}

.rectangle-btn:hover .rect-btn-cnt-lft svg path {
    stroke: var(--main);
}

.rectangle-btn:active .rect-btn-cnt-lft svg g path {
    fill: var(--white);
}

.rectangle-btn:active .rect-btn-cnt-lft svg circle {
    fill: var(--main);
}

.rect-btn-cnt-rgt {
    display: flex;
    flex-direction: column;
}

.rect-btn-cnt-rgt span:first-child {
    font-size: 64px;
    font-weight: 600;
}

.sum-btn-path {
    transition: var(--smart-animation-80-in-out);
    fill: var(--white);
}

.sum-btn-circle {
    transition: var(--smart-animation-80-in-out);
    fill: var(--main);
}

.sum-btn-path-stroke {
    transition: var(--smart-animation-80-in-out);
    stroke: var(--white);
}

.sum-btn-icn {
    width: 60px;
    height: 60px;
}


.urgency-btn-lft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.rect-btn-vector {
    border-radius: 2px;
    height: 102.02px;
    border: solid 2px var(--input-border);
}

.urgency-btn-cnt-rgt {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.urgency-btn-cnt-rgt span:first-child {
    font-size: 61px;
    font-weight: 600;
}

.urgency-btn-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 13px;
}

.urgency-btn-info span:first-child {
    font-size: 21px;
    font-weight: 700;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting span:nth-child(1) {
    font-size: 47px;
    font-weight: 500;
    line-height: normal;
}

.greeting span:nth-child(2) {
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    color: var(--main2nd);
}

.greeting-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.greeting-mobile span:nth-child(1) {
    font-size: 47px;
    font-weight: 500;
    line-height: normal;
}

.greeting-mobile span:nth-child(2) {
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    color: var(--main2nd);
}

@media (max-width: 1440px) {

    .main-center-tablet {
        justify-content: center;
    }

    .main-center-dashboard {
        width: 396px;
        height: 384px;
    }

    .main-center-welcome {
        display: none;
    }

    .dashboard-row button {
        border-radius: 20px;
        font-size: 14px;
    }

    .rectangle-btn-anchor {
        width: 186px;
        height: 110px;
    }

    .rectangle-btn {
        width: 186px;
        height: 110px;
        gap: 10px;
    }

    .rectangle-btn:hover {
        width: 186px;
        height: 120px;
    }

    .rect-btn-cnt-rgt span:first-child {
        font-size: 47px;
    }


    .pencil-btn {
        padding: 38px 19px;
    }

    .check-btn {
        padding: 38px 58px;
    }

    .urgency-btn-anchor {
        width: 396px;
        height: 110px;
    }

    .urgency-btn {
        width: 396px;
        height: 110px;
        gap: 20px;
        padding: 28px 0px 28px 0px;
    }

    .urgency-btn:hover {
        width: 396px;
        height: 120px;
    }

    .urgency-btn-cnt-rgt {
        font-size: 14px;
    }

    .urgency-btn-cnt-rgt span:first-child {
        font-size: 47px;
    }

    .square-btn-anchor {
        width: 116px;
        height: 116px;
    }

    .square-btn {
        width: 116px;
        height: 116px;
    }

    .square-btn span:first-child {
        font-size: 47px;
    }

    .square-btn:hover {
        width: 124px;
        height: 124px;
    }

}

@media (width <1440px) {
    .sum-btn-icn {
        width: 40px;
        height: 40px;
    }
}