.main {
    background-color: var(--main-background);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 232px;
}

.content::-webkit-scrollbar {
    display: none;
}

.bottom {
    display: none;
}

.outside {
    position: absolute;
}

.top {
    position: fixed;
    z-index: 3;
    background-color: var(--white);
    width: 100%;
    height: 96px;
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px var(--black-transp-15);
    display: flex;
    align-items: center;
}

.left {
    width: 232px;
    background-color: var(--main);
}

.outside+.left {
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 3;
}

.content-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    z-index: 3;
    overflow: auto;
    padding: 64px 0px;
}

.content-left::-webkit-scrollbar {
    display: none;
}

.left-element {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-element button {
    color: var(--text-light);
    justify-content: left;
}

.left-element a {
    color: var(--text-light);
}

.left-element-log {
    flex: 0.8;
    /* background-color: antiquewhite; */
}

.left-element-mnu {
    flex: 1;
    /* background-color: aquamarine; */
}

.left-element-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
    /* background-color: cadetblue; */
}

.btm-element-nav {
    display: flex;
}

.btm-element {
    background-color: var(--main);
    width: 428px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 15px;
    padding-bottom: 4px;
}

.btm-element button {
    color: var(--text-light);
    align-content: end;
}

.headline-main h1 {
    color: var(--text-default2);
}

.headline-work-pages {
    position: fixed;
    z-index: 2;
    background-color: var(--main-background);
    width: auto;
}

.headline-work-pages-board {
    justify-content: space-between;
    align-items: start !important;
    z-index: 2;
    background-color: var(--main-background);
    width: auto;
}

.headline-vector {
    border-radius: 3px;
    height: 59px;
    border: solid 3px var(--main2nd);
}

.headline-main {
    /* width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--text-default); */
}

.headline-main-float {
    margin-top: 0px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--white);
    color: var(--text-default);
}

.headline-main-2nd {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* header */

.housing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.housing-header-left h1:first-child {
    display: flex;
    margin: 0;
}

.housing-header-left div:last-child {
    display: none;
}

/* svg-class: */

.logo-header-mobile {
    width: 32px;
    height: 39.02px;
}

.housing-header-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.header-help-btn {
    z-index: 0;
}

.header-guest-btn button {
    width: 56px;
    height: 56px;
    z-index: 0;
}

.header-user-btn button {
    width: 56px;
    height: 56px;
    z-index: 0;
}

.initial {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.guest-icn {
    fill: white;
    fill-opacity: 0.12;
}

.guest-icn:hover {
    fill: var(--guest-icon-hover);
}

/* svg classes: */

.housing-icn-btn {
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
}

@media (max-width: 1000px) {
    .headline-work-pages {
        width: 100%;
    }
}

@media (max-width: 1440px) {

    .outside+.left {
        display: none;
    }

    .top {
        height: 80px;
        padding: 20px 16px 20px 16px;
    }

    .content {
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-top: 82px;
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main);
    }

    .headline-main {
        padding-top: 0px;
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .headline-main div {
        order: 2;
    }

    .headline-vector {
        height: 0px;
        width: 90px;
        rotate: 0deg;
    }

    .version-2-t5 {
        font-size: 20px;
        font-weight: 400;
    }

    .housing-header-left h1:first-child {
        display: none;
    }

    .housing-header-left div:last-child {
        display: flex;
    }

    .headline-vector {
        border: solid 2px var(--main2nd);
    }

    .header-help-btn {
        display: none;
    }

    .header-guest-btn button {
        width: 42px;
        height: 42px;
    }

    .header-user-btn button {
        width: 42px;
        height: 42px;
    }

    .btm-element {
        padding-bottom: 0;
    }

}