<div class="main-center">
    <div class="btn-back-2">
        <button id="btnBack2Hvr" class="display-none" onclick="goBack()"
            onmouseleave="toggleElements('btnBack2','btnBack2Hvr')"
            w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
        </button>
        <button id="btnBack2" onmouseover="toggleElements('btnBack2','btnBack2Hvr')"
            w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
        </button>
    </div>
    <div w3-include-variant="./assets/templates/workPages/cntLegal.html"></div>
</div>