<div class="main-center">
    <div class="btn-back-2">
        <button id="btnBack2Hvr" class="display-none" onclick="goBack()"
            onmouseleave="toggleElements('btnBack2','btnBack2Hvr')"
            w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
        </button>
        <button id="btnBack2" onmouseover="toggleElements('btnBack2','btnBack2Hvr')"
            w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
        </button>
    </div>
    <h1>Legal Notice</h1>
    <div>
        <h2>Imprint</h2>
        <ul class="version-2-body">
            <li><span>Volker Möller</span></li>
            <li>Bahnhofstraße 13</li>
            <li>74399 Walheim</li>
        </ul>
        <h3 class="headline-main-2nd version-btn-2nd">Exploring the Board</h3>
        <div class="version-2-body">Email: v.moeller@t-online.de</div>
    </div>
    <div>
        <h3 class="headline-main-2nd version-btn-2nd">Acceptance of terms</h3>
        <div class="version-2-body">By accessing and using <span>Join</span> (Product),
            you acknowledge and agree to the following terms and conditions, and any policies, guidelines, or
            amendments there to that may be presented to you from time to time. We, the listed students, may
            update or change the terms and conditions from time to time without notice.
        </div>
    </div>
    <div>
        <h3 class="headline-main-2nd version-btn-2nd">Scope and ownership of the product</h3>
        <div class="version-2-body"><span>Join</span> has been developed as part of a
            student
            group project in a web development
            bootcamp at the <span>Developer Akademie GmbH</span>.
            It has an educational purpose and is not intended for extensive personal & business usage.
            As such, we cannot guarantee consistent availability, reliability, accuracy, or any other aspect
            of
            quality regarding this Product.<br><br>
            The design of <span>Join</span> is owned by the <span>Developer Akademie GmbH</span>.
            Unauthorized use, reproduction,
            modification, distribution, or
            replication of the design is strictly prohibited.
        </div>
    </div>
    <div>
        <h3 class="headline-main-2nd version-btn-2nd">Proprietary rights</h3>
        <div class="version-2-body">Aside from the design owned by <span>Developer
                Akademie GmbH</span>, we, the listed
            students, retain all
            proprietary rights in <span>Join</span>, including any associated
            copyrighted material, trademarks, and other
            proprietary information.
        </div>
    </div>
    <div>
        <h3 class="headline-main-2nd version-btn-2nd">Use of the product</h3>
        <div class="version-2-body"><span>Join</span> is intended to be used for lawful
            purposes only, in accordance with
            all
            applicable laws and
            regulations. Any use of <span>Join</span> for illegal activities, or to
            harass, harm, threaten, or intimidate
            another person, is strictly prohibited. You are solely responsible for your interactions with
            other
            users of <span>Join</span>.
        </div>
    </div>
    <div>
        <div class="headline-main-2nd version-btn-2nd">Disclaimer of warranties and limitation of liability
        </div>
        <div class="version-2-body"><span>Join</span> is provided "as is" without warranty
            of any kind, whether express or
            implied, including but not
            limited to the implied warranties of merchantability, fitness for a particular purpose, and
            non-infringement. In no event will we, the listed students, or the <span>Developer
                Akademie</span>, be liable
            for
            any direct, indirect, incidental, special, consequential or exemplary damages, including but not
            limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, even
            if we
            have been advised of the possibility of such damages, arising out of or in connection with the
            use
            or performance of <span>Join</span>.
        </div>
    </div>
    <div>
        <h3 class="headline-main-2nd version-btn-2nd">Indemnity</h3>
        <div class="version-2-body">You agree to indemnify, defend and hold harmless us, the listed students,
            the
            <span>Developer Akademie</span>,
            and our affiliates, partners, officers, directors, agents, and employees, from and against any
            claim, demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of
            or
            relating to your use of <span>Join</span> and/or your breach of this Legal
            Notice.<br><br>For any questions
            or
            notices, please contact us at
            <span>v.moeller@t-online.de</span>.<br><br>Date: February 15, 2024
        </div>
    </div>
    <div class="scroll-ghost">ghost</div>
</div>