<div class="main-center">
    <div id="btnBackPrivacy" class="btn-back-2">
        <!-- <button id="btnBack5Hvr" class="display-none" onclick="showCurrentContent()"
            onmouseleave="toggleElements('btnBack5','btnBack5Hvr')"
            w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
        </button>
        <button id="btnBack5" onmouseover="toggleElements('btnBack5','btnBack5Hvr')"
            w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
        </button> -->
    </div>
    <div w3-include-variant="./assets/templates/workPages/cntPrivacy.html"></div>
</div>