<div class="main-center">
    <div class="btn-back-2">
        <button id="btnBack3Hvr" class="display-none" onclick="goBack()"
            onmouseleave="toggleElements('btnBack3','btnBack3Hvr')"
            w3-include-svg="./assets/img/svgHTML/6-leftArrowHover.html">
        </button>
        <button id="btnBack3" onmouseover="toggleElements('btnBack3','btnBack3Hvr')"
            w3-include-svg="./assets/img/svgHTML/7-leftArrow.html">
        </button>
    </div>
    <div w3-include-variant="./assets/templates/workPages/cntPrivacy.html"></div>