<button onclick="returnToLogIn()">Return</button>
<div class="main-center">
    <div class="textFrame">
        <a id="backTo" class="picto-button picto-left-arrow picto-pos-legal-notice " type="button" href="index.html"
            target="_blank" onclick="initChangePage('backTo', '')">
            <div class="picto-def-images">
                <div class="picto-def-hover dim-32-32"
                    w3-include-html-child="./assets/templates/svg/6-leftArrowHover.html">
                </div>
                <div class="dim-32-32" w3-include-html-child="./assets/templates/svg/7-leftArrow.html"></div>
            </div>
        </a>
        <h1 class="headline-main version-2-t1">Privacy Policy</h1>
        <div class="text">
            <div>
                <div class="headline-main-2nd version-btn-2nd">Subtitel</div>
                <div class="version-2-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut
                    massa eget, ornare lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla
                    convallis. Vestibulum eros lorem, sollicitudin eget eros non, varius aliquam mauris. Sed turpis
                    ipsum, condimentum quis nulla at, lobortis facilisis ipsum. Nunc erat justo, hendrerit vel enim
                    vitae, feugiat mattis dui. In auctor dignissim luctus. Mauris ornare ipsum at ultrices eleifend.
                    Praesent tempus congue magna. Quisque libero erat, pharetra a neque et, imperdiet semper justo.
                </div>
            </div>
            <div>
                <div class="headline-main-2nd version-btn-2nd">Subtitel</div>
                <div class="version-2-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut
                    massa eget, ornare lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla
                    convallis. Vestibulum eros lorem, sollicitudin eget eros non, varius aliquam mauris. Sed turpis
                    ipsum, condimentum quis nulla at, lobortis facilisis ipsum. Nunc erat justo, hendrerit vel enim
                    vitae, feugiat mattis dui. In auctor dignissim luctus. Mauris ornare ipsum at ultrices eleifend.
                    Praesent tempus congue magna. Quisque libero erat, pharetra a neque et, imperdiet semper justo.
                </div>
            </div>
            <div class="ghost-scrollbar-thumb">ghost</div>
        </div>
    </div>
</div>