<div class="left-element left-element-log" w3-include-svg="./assets/img/svgHTML/1-logo.html"></div>
<menu class="left-element left-element-mnu">
    <button class="menu-btn-hvr version-2-body" onclick="doSth()">
        <div w3-include-svg="./assets/img/svgHTML/13-helpHover.html"></div> Summary
    </button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()">Add Task</button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()">Board</button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()">Contacts</button>
</menu>
<nav class="left-element left-element-nav">
    <button onclick="doSth()">Privacy Policy</button>
    <button onclick="doSth()">Legal notice</button>
</nav>