<div class="left-element left-element-log" w3-include-svg="./assets/img/svgHTML/1-logo.html"></div>
<menu id="left-menu" class="left-element left-element-mnu display-none">
    <button class="menu-btn-hvr version-2-body display-none" onclick="returnToLogIn()"
        onmouseover="setMenuIcnHvrClrSVG('menuIcnPath1st')" onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath1st')">
        <div w3-include-svg="./assets/img/svgHTML/8-login.html"></div> Log in
    </button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()" onmouseover="setMenuIcnHvrClrSVG('menuIcnPath2nd')"
        onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath2nd')">
        Summary
    </button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()" onmouseover="setMenuIcnHvrClrSVG('menuIcnPath3rd')"
        onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath3rd')">Add
        Task</button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()" onmouseover="setMenuIcnHvrClrSVG('menuIcnPath4th')"
        onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath4th')">Board</button>
    <button class="menu-btn-hvr version-2-body" onclick="doSth()" onmouseover="setMenuIcnHvrClrSVG('menuIcnPath5th')"
        onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath5th')">Contacts</button>
</menu>
<nav class="left-element-nav" w3-include-variant="./assets/templates/workPages/cntNav.html">
    <button class="txt-btn-left version-2-body" onclick="doSth()">Privacy Policy</button>
    <button class="txt-btn-left-selected version-2-body" onclick="doSth()">Legal notice</button>
</nav>