<button id="mnuBtnMbl1st" class="menu-btn-hvr-mbl version-mnu-mbl display-none" onclick="returnToLogIn()"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl1st','menuIcnPath1stMbl')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl1st','menuIcnPath1stMbl')">
    <div class="menu-btn-hvr-inside-mbl">
        <div class="icn-btn" w3-include-svg="./assets/img/svgHTML/081-login.html"></div>
        <span>Log in</span>
    </div>
</button>
<button id="mnuBtnMbl2nd" class="menu-btn-hvr-mbl version-mnu-mbl" onclick="viewDefaultContent('mnuBtnMbl2nd')"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl2nd','menuIcnPath2ndMbl')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl2nd','menuIcnPath2ndMbl')">
    <div class="menu-btn-hvr-inside-mbl">
        <div class="icn-btn" w3-include-svg="./assets/img/svgHTML/091-sum.html"></div>
        <span>Summary</span>
    </div>
</button>
<button id="mnuBtnMbl3rd" class="menu-btn-hvr-mbl version-mnu-mbl" onclick="viewDefaultContent('mnuBtnMbl3rd')"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl3rd','menuIcnPath3rdMbl')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl3rd','menuIcnPath3rdMbl')">
    <div class="menu-btn-hvr-inside-mbl">
        <div class="icn-btn" w3-include-svg="./assets/img/svgHTML/0101-add.html"></div>
        <span>Add Task</span>
    </div>
</button>
<button id="mnuBtnMbl4th" class="menu-btn-hvr-mbl version-mnu-mbl" onclick="viewDefaultContent('mnuBtnMbl4th')"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl4th','menuIcnPath4th1Mbl','menuIcnPath4th2Mbl')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl4th','menuIcnPath4th1Mbl','menuIcnPath4th2Mbl')">
    <div class="menu-btn-hvr-inside-mbl">
        <div class="icn-btn" w3-include-svg="./assets/img/svgHTML/0111-board.html"></div>
        <span>Board</span>
    </div>
</button>
<button id="mnuBtnMbl5th" class="menu-btn-hvr-mbl version-mnu-mbl" onclick="viewDefaultContent('mnuBtnMbl5th')"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl5th','menuIcnPath5thMbl')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl5th','menuIcnPath5thMbl')">
    <div class="menu-btn-hvr-inside-mbl">
        <div class="icn-btn" w3-include-svg="./assets/img/svgHTML/0181-contacts.html"></div>
        <span>Contacts</span>
    </div>
</button>
<button id="txtBtnPrivacyMbl" class="txt-btn-btm version-mnu-mbl display-none"
    onclick="showInfoContentById('cntCenterPrivacy')">Privacy
    Policy</button>
<button id="txtBtnLegalMbl" class="txt-btn-btm version-mnu-mbl display-none"
    onclick="showInfoContentById('cntCenterLegal')">Legal
    notice</button>