<button id="mnuBtn1st" class="menu-btn-hvr version-2-body display-none" onclick="returnToLogIn()"
    onmouseover="setMenuIcnHvrClrSVG('menuIcnPath1st')" onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath1st')">
    <div w3-include-svg="./assets/img/svgHTML/8-login.html"></div> Log in
</button>
<button id="mnuBtn2nd" class="menu-btn-hvr version-2-body" onclick="doSth()"
    onmouseover="setMenuIcnHvrClrSVG('menuIcnPath2nd')" onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath2nd')">
    <div w3-include-svg="./assets/img/svgHTML/9-sum.html"></div>
    Summary
</button>
<button id="mnuBtn3rd" class="menu-btn-hvr version-2-body" onclick="doSth()"
    onmouseover="setMenuIcnHvrClrSVG('menuIcnPath3rd')" onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath3rd')">
    <div w3-include-svg="./assets/img/svgHTML/10-add.html"></div>Add
    Task
</button>
<button id="mnuBtn4th" class="menu-btn-hvr version-2-body" onclick="doSth()"
    onmouseover="setMenuIcnHvrClrSVG('menuIcnPath4th1','menuIcnPath4th2')"
    onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath4th1','menuIcnPath4th2')">
    <div w3-include-svg="./assets/img/svgHTML/11-board.html"></div>Board
</button>
<button id="mnuBtn5th" class="menu-btn-hvr version-2-body" onclick="doSth()"
    onmouseover="setMenuIcnHvrClrSVG('menuIcnPath5th')" onmouseleave="resetMenuIcnHvrClrSVG('menuIcnPath5th')">
    <div w3-include-svg="./assets/img/svgHTML/18-contacts.html"></div>Contacts
</button>