<button id="mnuBtn1st" class="menu-btn-hvr version-2-body display-none"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtn1st','menuIcnPath1st')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtn1st','menuIcnPath1st')" data-twin="mnuBtnMbl1st">
    <div w3-include-svg="./assets/img/svgHTML/8-login.html"></div>Log in
</button>
<button id="mnuBtn2nd" class="menu-btn-hvr version-2-body"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtn2nd','menuIcnPath2nd')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtn2nd','menuIcnPath2nd')" data-twin="mnuBtnMbl2nd">
    <div w3-include-svg="./assets/img/svgHTML/9-sum.html"></div>
    Summary
</button>
<button id="mnuBtn3rd" class="menu-btn-hvr version-2-body"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtn3rd','menuIcnPath3rd')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtn3rd','menuIcnPath3rd')" data-twin="mnuBtnMbl3rd">
    <div w3-include-svg="./assets/img/svgHTML/10-add.html"></div>Add
    Task
</button>
<button id="mnuBtn4th" class="menu-btn-hvr version-2-body"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtn4th','menuIcnPath4th1','menuIcnPath4th2')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtn4th','menuIcnPath4th1','menuIcnPath4th2')" data-twin="mnuBtnMbl4th">
    <div w3-include-svg="./assets/img/svgHTML/11-board.html"></div>Board
</button>
<button id="mnuBtn5th" class="menu-btn-hvr version-2-body"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtn5th','menuIcnPath5th')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtn5th','menuIcnPath5th')" data-twin="mnuBtnMbl5th">
    <div w3-include-svg="./assets/img/svgHTML/18-contacts.html"></div>Contacts
</button>