<button id="mnuBtnMbl1st" class="menu-btn-hvr-mbl .version-mnu-mbl display-none" onclick="returnToLogIn()"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl1st','menuIcnPath1st')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl1st','menuIcnPath1st')">
    <div class="menu-btn-hvr-inside-mbl">
        <div w3-include-svg="./assets/img/svgHTML/8-login.html"></div>
        <span>Log in</span>
    </div>
</button>
<button id="mnuBtnMbl2nd" class="menu-btn-hvr-mbl .version-mnu-mbl" onclick="viewSum()"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl2nd','menuIcnPath2nd')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl2nd','menuIcnPath2nd')">
    <div class="menu-btn-hvr-inside-mbl">
        <div w3-include-svg="./assets/img/svgHTML/9-sum.html"></div>
        <span>Summary</span>
    </div>
</button>
<button id="mnuBtnMbl3rd" class="menu-btn-hvr-mbl .version-mnu-mbl" onclick="viewAdd()"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl3rd','menuIcnPath3rd')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl3rd','menuIcnPath3rd')">
    <div class="menu-btn-hvr-inside-mbl">
        <div w3-include-svg="./assets/img/svgHTML/10-add.html"></div>
        <span>Add Task</span>
    </div>
</button>
<button id="mnuBtnMbl4th" class="menu-btn-hvr-mbl .version-mnu-mbl" onclick="viewBoard()"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl4th','menuIcnPath4th1','menuIcnPath4th2')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl4th','menuIcnPath4th1','menuIcnPath4th2')">
    <div class="menu-btn-hvr-inside-mbl">
        <div w3-include-svg="./assets/img/svgHTML/11-board.html"></div>
        <span>Board</span>
    </div>
</button>
<button id="mnuBtnMbl5th" class="menu-btn-hvr-mbl .version-mnu-mbl" onclick="viewCont()"
    onmouseover="setMenuIcnHvrClrSVG('mnuBtnMbl5th','menuIcnPath5th')"
    onmouseleave="resetMenuIcnHvrClrSVG('mnuBtnMbl5th','menuIcnPath5th')">
    <div class="menu-btn-hvr-inside-mbl">
        <div w3-include-svg="./assets/img/svgHTML/18-contacts.html"></div>
        <span>Contacts </span>
    </div>
</button>