<header class="housing-header">
    <div class="housing-header-left">
        <h1 class="version-2-t6">Kanban Project Management Tool</h1>
        <div w3-include-svg="./assets/img/svgHTML/1-logo-resp.html"></div>
    </div>
    <div class="housing-header-right">
        <div class="form-btn-back">
            <button id="btnHelp1Hvr" type="button" class="display-none" onclick="toggleSignFormsBack()"
                onmouseleave="toggleElements('btnHelp1','btnHelp1Hvr')"
                w3-include-svg="./assets/img/svgHTML/13-helpHover.html">
            </button>
            <button id="btnHelp1" type="button" onmouseover="toggleElements('btnHelp1','btnHelp1Hvr')"
                w3-include-svg="./assets/img/svgHTML/12-helpDefault.html">
            </button>
        </div>
    </div>
    <button onclick="switchToSignPages()">switchToSignPages</button>
</header>