:root {
  --main: #2a3647;
  --main-pale: #2a364750;
  --main2nd: #29abe2;
  --main-background: #f6f7f8;
  --main-transp: #2a364700;
  --main-transp-20: #2a364720;
  --main-transp-25: #2a364725;
  --main-transp-33: #2a364733;
  --main-transp-50: #2a364750;

  --icon-grey: #a8a8a8;
  --drop-down-icon: #D9D9D9;

}