:root {
  --main: #2a3647;
  --main-pale: #2a364750;
  --main2nd: #29abe2;
  --main-background: #f6f7f8;
  --main-transp: #2a364700;
  --main-transp-10: #2a364710;
  --main-transp-20: #2a364720;
  --main-transp-25: #2a364725;
  --main-transp-33: #2a364733;
  --main-transp-50: #2a364750;

  --guest-icon-hover: #0c2e62;
  --menu-button-hover: #2a3d59;
  --nav-left-button: #091931;
}