:root {
  --main: #2a3647;
  --main-pale: #2a364750;
  --main2nd: #29abe2;
  --main2nd-transp-20: #29abe220;
  --main-background: #f6f7f8;
  --main-transp: #2a364700;
  --main-transp-10: #2a364710;
  --main-transp-20: #2a364720;
  --main-transp-25: #2a364725;
  --main-transp-33: #2a364733;
  --main-transp-50: #2a364750;

  --guest-icon-hover: #0c2e62;
  --menu-button-hover: #2a3d59;
  --nav-left-button: #091931;
  --menu-color: #42526E;

  --black-dark-view: black;
  --main-dark-view: #2a3647;
  --menu-color-dark-view: #42526E;

  --variant0: #FF7A00;
  --variant1: #FF5EB3;
  --variant2: #6E52FF;
  --variant3: #9327FF;
  --variant4: #00BEE8;
  --variant5: #1FD7C1;
  --variant6: #FF745E;
  --variant7: #FFA35E;
  --variant8: #FC71FF;
  --variant9: #FFC701;
  --variant10: #0038FF;
  --variant11: #C3FF2B;
  --variant12: #FFE62B;
  --variant13: #FF4646;
  --variant14: #FFBB2B;
}