:root {
  --main: #8d0010;
  --main-pale: #8d001050;
  --main2nd: #ff3d48;
  --main2nd-transp-20: #ff3d4820;
  --main-background: #f6f7f8;
  --main-transp: #8d001000;
  --main-transp-10: #8d001010;
  --main-transp-20: #8d001020;
  --main-transp-25: #8d001025;
  --main-transp-33: #8d001033;
  --main-transp-50: #8d001050;

  --guest-icon-hover: #ce1d3a;
  --menu-button-hover: #810110;
  --nav-left-button: #510005;


  --black-dark-view: black;
  --main-dark-view: #2a3647;
  --menu-color-dark-view: #42526E;

  --variant0: #FF7A00;
  --variant1: #FF5EB3;
  --variant2: #6E52FF;
  --variant3: #9327FF;
  --variant4: #00BEE8;
  --variant5: #1FD7C1;
  --variant6: #FF745E;
  --variant7: #FFA35E;
  --variant8: #FC71FF;
  --variant9: #FFC701;
  --variant10: #0038FF;
  --variant11: #C3FF2B;
  --variant12: #FFE62B;
  --variant13: #FF4646;
  --variant14: #FFBB2B;
}