:root {
  --main: #8d0010;
  --main-pale: #8d001050;
  --main2nd: #ff3d48;
  --main-background: #f6f7f8;
  --main-transp: #8d001000;
  --main-transp-20: #8d001020;
  --main-transp-25: #8d001025;
  --main-transp-33: #8d001033;
  --main-transp-50: #8d001050;

  --guest-icon-hover: #ce1d3a;
  --menu-button-hover: #810110;
  --nav-left-button: #510005;
}