:root {
  --main: #4455ff;
  --main-pale: #4455ff50;
  --main2nd: #ffcc33;
  --main-background: #111111;
  --main-transp: #4455ff00;
  --main-transp-20: #4455ff20;
  --main-transp-25: #4455ff25;
  --main-transp-33: #4455ff33;
  --main-transp-50: #4455ff50;

  --icon-grey: #a8a8a8;
  --drop-down-icon: #D9D9D9;
}