<div class="main">
    <div class="outside-top" w3-include-template="./assets/templates/signPages/logIn/cntTop.html"></div>
    <div id="inside" class="inside">
        <div class="content-left" w3-include-template="./assets/templates/signPages/logIn/cntLeft.html">
        </div>
        <div class="content-center" w3-include-template="./assets/templates/signPages/logIn/cntCenter.html">
        </div>
        <div id="contentRight" class="content-right" w3-include-template="./assets/templates/signPages/logIn/cntRight.html">
        </div>
    </div>
    <div class="outside-bottom" w3-include-template="./assets/templates/signPages/cntBottom.html"></div>
</div>