<div class="main-center">
    <div class="main-center-header">
        <h1>Join 360</h1>
        <p>&nbsp;</p>
        <span>Key Metrics at a Glance</span>
    </div>
    <div class="main-center-tablet">
        <div class="main-center-dashboard">
            <div class="dashboard-row">
                <div class="frame-btn">
                    <div class="btn-rectangle-anchor">
                        <button class="rectangle-btn">To-do</button>
                    </div>
                </div>
                <div class="frame-btn">
                    <div class="btn-rectangle-anchor">
                        <button class="rectangle-btn">Done</button>
                    </div>
                </div>
            </div>
            <div class="dashboard-row">
                <div class="frame-btn">
                    <div class="btn-urgency-anchor">
                        <button class="urgency-btn">Urgent</button>
                    </div>
                </div>
            </div>
            <!-- <div class="dashboard-row">
                <div class="frame-btn">
                    <div class="btn-anchor">
                        <button class="square-btn">Board</button>
                    </div>
                </div>
                <div class="frame-btn">
                    <div class="btn-anchor">
                        <button class="square-btn">Progress</button>
                    </div>
                </div>
                <div class="frame-btn">
                    <div class="btn-anchor">
                        <button class="square-btn">Feedback</button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="main-center-welcome">
            <span>Welcome</span>
        </div>
    </div