<div class="main-center">
    <div class="main-center-header">
        <h1>Join 360</h1>
        <p>&nbsp;</p>
        <span>Key Metrics at a Glance</span>
    </div>
    <div class="main-center-tablet">
        <div class="main-center-dashboard">
            <button class="rectangle-btn top-lft">To-do</button>
            <button class="rectangle-btn top-rgt">Done</button>
            <button class="urgency-sum-btn ">Urgent</button>
            <button class="square-btn">Progress</button>
            <button class="square-btn">Feedback</button>
        </div>
        <div class="main-center-welcome">
            <span>Welcome</span>
        </div>
    </div>
</div