<div class="main-center">
    <div class="main-center-header">
        <h1>Join 360</h1>
        <p>&nbsp;</p>
        <span>Key Metrics at a Glance</span>
    </div>
    <div class="main-center-tablet">
        <div class="main-center-dashboard">
            <div class="dashbord-top-row">
                <button>To-do</button>
                <button>Done</button>
            </div>
            <div class="dashbord-center-row">
                <button>To-do</button>
            </div>
            <div class="dashbord-bottom-row">
                <button>Board</button>
                <button>Progress</button>
                <button>Feedback</button>
            </div>
        </div>
        <div class="main-center-welcome">
            <span>Welcome</span>
        </div>
    </div>
</div