<div id="mainCenterAddTask" class="main-center">
    <!-- later to be generated as formAddTask element -->
    <form id="formAddTask" class="form-add" onsubmit="doTh('createTask'); return false;">
        <div class="form-title-v2">
            <h1>Add Task</h1>
        </div>
        <div class="form-inputs-frame-container">
            <div class="form-inputs-frame-v2">hier</div>
            <p class="add-task-vector"></p>
            <div class="form-inputs-frame-v2">dort</div>
        </div>
    </form>
</div>