<div id="mainCenterAddTask" class="main-center">
    <!-- later to be generated as formAddTask element -->
    <form id="formAddTask" class="form-add" onsubmit="doTh('createTask'); return false;">
        <div class="form-title-v2">
            <h1>Add Task</h1>
        </div>
        <div class="form-inputs-frame-container">
            <div class="form-inputs-frame-v2">

                <div class="housing-input">
                    <label for="title">Title</label>
                    <div class="input-container">
                        <input class="version-2-t6" type="text" id="title" name="title" placeholder="Enter a title"
                            autocomplete="off" required>
                        <div class="input-container-icon" onclick="focusInput('title')">
                            <div w3-include-svg="./assets/img/svgHTML/20-person.html"></div>
                        </div>
                    </div>
                    <span class="version-warning">ghost</span>
                </div>

            </div>
            <p class="add-task-vector"></p>
            <div class="form-inputs-frame-v2">dort</div>
        </div>
    </form>
</div>