<div id="mainCenterAddTask" class="main-center">
    <!-- later to be generated as formAddTask element -->
    <form id="formAddTask" class="form-add" onsubmit="doTh('createTask'); return false;">
        <div class="form-title-v2">
            <h1>Add Task</h1>
        </div>
        <div class="form-inputs-frame-container">
            <div class="form-inputs-frame-v2">
                <div class="form-inputs-v2">
                    <div class="housing-input">
                        <label for="title">Title<span>*</span></label>
                        <div class="input-container">
                            <input class="version-2-t6" type="text" id="title" name="title" placeholder="Enter a title"
                                autocomplete="off" required>
                        </div>
                        <span class="version-warning-V2 ghost">ghost</span>
                    </div>
                </div>
                <div class="form-inputs-v2">
                    <div class="housing-input">
                        <label for="description">Description</label>
                        <div class="input-container">
                            <textarea class="version-2-t6" type="text" id="description" name="description"
                                placeholder="Enter a description" autocomplete="off"></textarea>
                            <div class="input-container-icon description-icon" onclick="focusInput('title')">
                                <div w3-include-svg="./assets/img/svgHTML/33-recurso.html"></div>
                            </div>

                        </div>
                        <span class="version-warning-V2 ghost">ghost</span>
                    </div>
                </div>
                <div class="form-inputs-v2">
                    <div class="housing-input">
                        <label for="dueDate">Due date<span>*</span></label>
                        <div class="input-container">
                            <input class="version-2-t6" type="text" id="dueDate" name="dueDate" placeholder="dd/mm/yyyy"
                                pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}" autocomplete="off"
                                required>
                            <div class="input-container-icon" onclick="focusInput('dueDate')">
                                <div w3-include-svg="./assets/img/svgHTML/34-event.html"></div>
                            </div>
                        </div>
                        <span class="version-warning-V2 ghost">ghost</span>
                    </div>
                </div>
            </div>
            <p class="add-task-vector"></p>
            <div class="form-inputs-frame-v2">dort</div>
        </div>
    </form>
</div>