html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: var(--main);
    background-color: var(--main-background);
    font-family: "Inter";
    line-height: 120%;
}

p,
h1,
h2,
input[type="text"],
textarea {
    cursor: text;
    font-family: "Inter";
    line-height: 120%;
}

textarea {
    resize: none;
}

a,
a *,
button,
button * {
    cursor: pointer;
    text-decoration: none;
}

button {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    font-family: 'Inter';
}

input::placeholder {
    color: var(--input-border);
}

textarea::placeholder {
    color: var(--input-border);
}

menu {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 32px;
    padding-bottom: 32px;
}

.ghost {
    opacity: 0;
}

.display {
    display: flex !important;
}

.display-none {
    display: none !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.z-index--1 {
    z-index: -1 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.hide-body {
    display: none !important;
    opacity: 0 !important;
}

.ovl-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--main-background);
    z-index: 2;
    overflow: hidden;
}

.path-def-1st {
    fill: var(--main);
}

.path-def-1st-pale {
    fill: var(--main-pale);
}

.path-def-2nd {
    fill: var(--main2nd);
}

.path-white {
    fill: var(--white);
}

h1 {
    font-size: 61px;
    margin: 0;
    margin-bottom: 0.5em;
}

h1+p span {
    color: var(--main2nd);
}

h1~span {
    font-size: 27px;
}

h2 {
    font-size: 27px;
    margin: 0;
    margin-bottom: 0.5em;
}

h2~p span {
    color: var(--main2nd);
}

h3 {
    font-size: 16px;
    margin: 0;
}

h3+p {
    margin-top: 0;
}

h3+p span {
    color: var(--main2nd);
}

ul span {
    color: var(--main2nd);
}

#helpBtnSmallMenu {
    display: none;
}

.abs-cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

label {
    color: var(--black-dark-view);
    font-size: 20px;
}

fieldset {
    width: 100%;
    display: flex;
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    margin-bottom: 12px;
    color: var(--menu-color-dark-view);
}

.flx-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
}

.hover-container-v2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hover-container-v3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
}

@media(max-width: 1440px) {
    h1 {
        font-size: 47px;
    }

    #helpBtnSmallMenu {
        display: flex !important;
    }

    h1~span {
        font-size: 20px;
    }

    label {
        font-size: 16px;
    }

    label span {
        font-size: 16px;
    }
}