html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Inter";
    color: var(--main);
    background-color: var(--main-background);
}

.display {
    display: flex;
}

.display-none {
    display: none;
}

.ovl-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--main-background);
}

.path-def-1st {
    fill: var(--main);
}

.path-def-2nd {
    fill: var(--main2nd);
}

.path-white {
    fill: var(--white);
}


.ovl-hide {
    z-index: -1;
}

.ovl-show {
    z-index: 3;
    animation-duration: 1s;
    animation-name: shadow-bg;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes shadow-bg {
    from {
        background-color: var(--main-background);
    }

    to {
        background-color: var(--black-transp-40);
    }
}