html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Inter";
    color: var(--main);
    background-color: var(--main-background);
}

.display {
    display: flex;
}

.display-none {
    display: none;
}

.ovl-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--main-background);
    overflow: hidden;
}

.path-def-1st {
    fill: var(--main);
}

.path-def-2nd {
    fill: var(--main2nd);
}

.path-white {
    fill: var(--white);
}

