html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Inter";
    color: var(--main);
    background-color: var(--main-background);
}

p,
h1,
h2,
input[type="text"] {
    cursor: text;
}

a,
a *,
button,
button * {
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

input::placeholder {
    color: var(--input-border);
}

.display {
    display: flex !important;
}

.display-none {
    display: none !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.show-body {
    transition: opacity 60ms ease-in;
    opacity: 1 !important;
}

.hide-body {
    display: none !important;
    opacity: 0 !important;
}

.ovl-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--main-background);
    overflow: hidden;
}

.path-def-1st {
    fill: var(--main);
}

.path-def-2nd {
    fill: var(--main2nd);
}

.path-white {
    fill: var(--white);
}

h1 {
    font-size: 61px;
    margin: 0;
}

@media(max-width: 1440px) {
    h1 {
        font-size: 47px;
    }
}