html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Inter";
    color: var(--main);
    background-color: var(--main-background);
}

.display {
    display: flex;
}

.display-none {
    display: none;
}

.opacity {
    opacity: 1;
}

.opacity-none {
    opacity: 0;
}

.cnt-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    opacity: 0;
    z-index: -1;
}

.show-dly {
    transition: all 3000ms ease-in-out;
    opacity: 1;
    z-index: 0;
}

.ovl-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--main-background);
}

.ovl-anim {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}