.logo-desktop-main {
    position: absolute;
    width: 101px;
    height: 123px;
    top: 64px;
    left: 66px;
}

@media (max-width: 1440px) {
    .logo-desktop-main {
        position: absolute;
        width: 64px;
        height: 79px;
        top: 37px;
        left: 38px;
    }
}