    :root {
        --nuevo: 0px 0px 4px 0px var(--black-transp-10);
        --stronger: 0px 4px 4px 0px var(--black-transp-40);
        --backlog-box: 0px 0px 14px 3px var(--black-transp-04);
        --drop-shadow: 4px 0px 6px 0px var(--black-transp-08);
        --task-card: 0px 0px 10px 3px var(--black-transp-08);

        --boton-gradient: linear-gradient(var(--rect-btn-activ), var(--gradient-boton));

        --smart-animation-80-in: all 80ms ease-in;
        --smart-animation-80-out: all 80ms ease-out;
        --smart-animation-80-in-out: all 80ms ease-in-out;
        --smart-animation-80-in-out-clr: color 80ms ease-in-out;
        --smart-animation-80-in-out-shadow: box-shadow 80ms ease-in-out;
        --smart-animation-100-in-out: all 100ms ease-in-out;
    }