:root {
    --white: #ffffff;
    --black: #111111;
    --black-transp: #00000000;
    --black-transp-04: #00000004;
    --black-transp-08: #00000008;
    --black-transp-10: #00000010;
    --black-transp-15: #00000015;
    --black-transp-25: #00000025;
    --black-transp-40: #00000040;
    --black-transp-50: #00000050;

    --warning: #FF001F;
    --warning-V2: #E60026;
    --warning-text: #FF8190;

    --text-light: #CDCDCD;
    --input-border: #D1D1D1;
    --menu-color: #42526E;
    --hover-icon: #EDF2FA;
    --rect-btn-activ: #f9f9f9;
    --gradient-boton: #f0f0f0;
    --drop-down-icon: #D9D9D9;
    --drop-down-icon-V2: #EEEEEE;
    --background-noTask: #E7E7E7;
    --background-bar: #F4F4F4;
    --icon-grey: #a8a8a8;

    --urgent: #ff3d00;
    --medium: #FFA800;
    --low: #7AE229;
}