<div class="ovl">
    <div class="msg-cnt msg-rgt-cnt display-none">
        <h1 class="msg version-2-t6">message - ovlSum</h1>
    </div>
</div>
<div class="ovl" onclick="hideSmallMenu()">
    <div class="nav-cnt nav-top-rgt">
        <button id="helpBtnSmallMenu" class="version-2-body"
            onclick="showInfoContentById('cntCenterHelp')">Help</button>
        <button class="version-2-body" onclick="showInfoContentById('cntCenterLegal')">Legal Notice</button>
        <button class="version-2-body" onclick="showInfoContentById('cntCenterPrivacy')">Privacy Policy</button>
        <button class="version-2-body" onclick="switchToSignPages()">Log out</button>
    </div>
</div>